@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(25, 25, 25);
  color: rgb(240, 240, 240);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(25, 25, 25);
  padding: 5px 15px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.headerOpenNavbarButtonAndSearchButtonContainer {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerOpenNavbarButton, .headerSearchButton {
  background: none;
  border: none;
}

.headerOpenNavbarIcon {
  width: 30px;
  color: rgb(240, 240, 240);
}

.headerLogoContainer {
  width: 50%;
  text-align: center;
}

.headerLogo {
  width: 40px;
}

.headerIconsContainer {
  width: 25%;
  display: flex;
  justify-content: right;
  gap: 20px;
}

.headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon {
  width: 25px;
  color: rgb(240, 240, 240);
}

.headerNavbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70vw;
  z-index: 15;
  background-color: rgb(25, 25, 25);
  box-shadow: 0px 0px 0px 300px rgba(0, 0, 0, 0.5);
}

.headerCloseNavbarButtonContainer {
  text-align: right;
  margin-bottom: 10px;
}

.headerCloseNavbarButton {
  background: none;
  border: none;
  padding: 10px;
}

.headerCloseNavbarIcon {
  width: 23px;
  color: rgb(240, 240, 240);
}

.headerNavbarLinksContainer {
  padding: 0 20px;
}

.headerNavbarLinksList {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.headerNavbarItemList {
  list-style: none;
  font-size: 0.9rem;
}

.headerNavbarItemLink {
  color: rgb(240, 240, 240);
  text-decoration: none;
}

@media (width >= 768px) {
  header {
    padding: 7px 35px;
  }
  .headerOpenNavbarButtonAndSearchButtonContainer {
    gap: 40px;
  }
  .headerOpenNavbarIcon {
    width: 40px;
  }
  .headerLogo {
    width: 55px;
  }
  .headerIconsContainer {
    gap: 40px;
  }
  .headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon {
    width: 32px;
  }
  .headerNavbar {
    width: 60vw;
    box-shadow: 0px 0px 0px 600px rgba(0, 0, 0, 0.5);
  }
  .headerCloseNavbarButtonContainer {
    margin-bottom: 10px;
  }
  .headerCloseNavbarButton {
    padding: 15px;
  }
  .headerCloseNavbarIcon {
    width: 30px;
  }
  .headerNavbarLinksContainer {
    padding: 0 30px;
  }
  .headerNavbarLinksList {
    gap: 35px;
  }
  .headerNavbarItemList {
    font-size: 1.2rem;
  }
}
@media (width >= 992px) {
  header {
    padding: 5px 35px;
  }
  .headerOpenNavbarButtonAndSearchButtonContainer {
    display: none;
  }
  .headerSearchInputContainer {
    width: 25%;
  }
  .headerSearchForm {
    background-color: rgb(45, 45, 45);
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 3px;
    width: 85%;
  }
  .headerSearchLabel {
    width: 15%;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgb(200, 200, 200);
  }
  .headerSearchLabelIcon {
    width: 20px;
    color: rgb(200, 200, 200);
    padding-right: 5px;
  }
  .headerSearchInput {
    width: 85%;
    background: none;
    border: none;
    outline: none;
    padding-left: 10px;
    color: rgb(200, 200, 200);
  }
  .headerLogo {
    width: 40px;
  }
  .headerIconsContainer {
    gap: 35px;
  }
  .headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon {
    width: 23px;
  }
}
@media (width >= 1200px) {
  header {
    padding: 5px 55px;
  }
  .headerSearchForm {
    padding: 7px;
    border-radius: 8px;
    width: 75%;
  }
  .headerSearchLabelIcon {
    width: 25px;
    padding-right: 7px;
  }
  .headerSearchInput {
    padding-left: 14px;
  }
  .headerLogo {
    width: 45px;
  }
  .headerIconsContainer {
    gap: 40px;
  }
  .headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon {
    width: 28px;
  }
}
footer {
  border-top: 2px solid green;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footerSection {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footerSectionTitle {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.footerSectionLink {
  text-decoration: none;
  color: rgb(200, 200, 200);
  font-size: 0.9rem;
}

.footerCopyrightAndDevelopedBySection {
  text-align: center;
  color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid rgb(82, 82, 82);
  padding-top: 25px;
}

.footerCopyrightText {
  font-size: 0.8rem;
}

.footerDevelopedByText {
  font-size: 0.8rem;
}

.footerDevelopedByLink {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-weight: 500;
}

@media (width >= 768px) {
  footer {
    padding: 40px 50px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 60px;
  }
  .footerSection {
    gap: 10px;
  }
  .footerSectionTitle {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .footerSectionLink {
    font-size: 1rem;
  }
  .footerCopyrightAndDevelopedBySection {
    width: 100%;
    gap: 30px;
    padding-top: 35px;
  }
  .footerCopyrightText {
    font-size: 1rem;
  }
  .footerDevelopedByText {
    font-size: 1rem;
  }
}
@media (width >= 992px) {
  footer {
    padding: 30px 40px;
    gap: 50px;
  }
  .footerSection {
    gap: 10px;
  }
  .footerSectionTitle {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  .footerSectionLink {
    font-size: 0.8rem;
  }
  .footerCopyrightAndDevelopedBySection {
    gap: 20px;
    padding-top: 25px;
  }
  .footerCopyrightText {
    font-size: 0.8rem;
  }
  .footerDevelopedByText {
    font-size: 0.8rem;
  }
}
@media (width >= 1200px) {
  footer {
    padding: 30px 40px;
    gap: 60px;
  }
  .footerSection {
    gap: 8px;
  }
  .footerSectionTitle {
    font-size: 0.9rem;
  }
  .footerSectionLink {
    font-size: 0.9rem;
  }
  .footerCopyrightAndDevelopedBySection {
    gap: 25px;
    padding-top: 30px;
  }
  .footerCopyrightText {
    font-size: 0.9rem;
  }
  .footerDevelopedByText {
    font-size: 0.9rem;
  }
}
.indexBannerSection {
  background-image: url("/images/exampleBanner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
}

.indexTextSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  gap: 12px;
  padding: 0 10px;
  margin: 30px 0 40px;
}

.indexShipmentContainerText, .indexWhatsappContainerText, .indexSafePurchaseContainerText, .indexInstagramContainerText {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.indexShipmentIcon, .indexWhatsappIcon, .indexSafePurchaseIcon, .indexInstagramIcon {
  width: 25%;
}

.indexShipmentText {
  font-size: 0.8rem;
  font-weight: 500;
  width: 75%;
}

.indexWhatsappInformationContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 5px;
}

.indexWhatsappText {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgb(200, 200, 200);
}

.indexSafePurchaseInformationContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.indexSafePurchaseTitle {
  font-size: 0.8rem;
  font-weight: 500;
}

.indexSafePurchaseText {
  font-size: 0.7rem;
  color: rgb(200, 200, 200);
}

.indexInstagramInformationContainer {
  width: 75%;
}

.indexInstagramText {
  font-size: 0.8rem;
  color: rgb(200, 200, 200);
}

.indexCategoriesSection {
  display: none;
}

.indexCamisetasSection {
  padding: 0 10px 30px;
}

.indexCamisetasTitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.indexCamisetasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 13px;
}

@media (width >= 768px) {
  .indexBannerSection {
    height: 45vh;
  }
  .indexTextSection {
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
    margin: 60px 0 70px;
  }
  .indexShipmentContainerText, .indexWhatsappContainerText, .indexSafePurchaseContainerText, .indexInstagramContainerText {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
  }
  .indexShipmentIcon, .indexWhatsappIcon, .indexSafePurchaseIcon, .indexInstagramIcon {
    width: 20%;
  }
  .indexShipmentText {
    font-size: 1rem;
    font-weight: 500;
    width: 80%;
  }
  .indexWhatsappInformationContainer {
    width: 80%;
    gap: 7px;
  }
  .indexWhatsappText {
    font-size: 0.9rem;
  }
  .indexSafePurchaseInformationContainer {
    width: 80%;
    gap: 3px;
  }
  .indexSafePurchaseTitle {
    font-size: 1rem;
  }
  .indexSafePurchaseText {
    font-size: 0.9rem;
  }
  .indexInstagramInformationContainer {
    width: 80%;
  }
  .indexInstagramText {
    font-size: 1rem;
  }
  .indexCamisetasSection {
    padding: 0 40px 60px;
  }
  .indexCamisetasTitle {
    margin-bottom: 50px;
    font-size: 1.6rem;
  }
  .indexCamisetasContainer {
    gap: 30px;
  }
}
@media (width >= 992px) {
  .indexBannerSection {
    height: 55vh;
  }
  .indexTextSection {
    justify-content: space-between;
    gap: 0;
    padding: 0 100px;
    margin: 30px 0 50px;
  }
  .indexShipmentContainerText, .indexWhatsappContainerText, .indexSafePurchaseContainerText, .indexInstagramContainerText {
    width: 20%;
  }
  .indexShipmentText {
    font-size: 0.9rem;
  }
  .indexWhatsappText {
    font-size: 0.8rem;
  }
  .indexSafePurchaseTitle {
    font-size: 0.9rem;
  }
  .indexSafePurchaseText {
    font-size: 0.8rem;
  }
  .indexInstagramText {
    font-size: 0.9rem;
  }
  .indexCategoriesSection {
    display: block;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    margin: 0 40px 60px;
    padding: 20px 0;
  }
  .indexCategoriesSectionLink {
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-size: 0.9rem;
  }
  .indexCamisetasSection {
    padding: 0 40px 60px;
  }
  .indexCamisetasTitle {
    margin-bottom: 40px;
    font-size: 1.3rem;
  }
  .indexCamisetasContainer {
    gap: 40px;
  }
}
@media (width >= 1200px) {
  .indexTextSection {
    padding: 0 190px;
    margin: 40px 0 60px;
  }
  .indexCategoriesSection {
    width: 85%;
    margin: 0 auto 40px;
    padding: 25px 0;
  }
  .indexCategoriesSectionLink {
    font-size: 0.9rem;
  }
  .indexCamisetasSection {
    width: 85%;
    margin: auto;
    padding: 0 0 60px;
  }
  .indexCamisetasTitle {
    margin-bottom: 50px;
    font-size: 1.5rem;
  }
  .indexCamisetasContainer {
    padding: 0;
    gap: 60px;
  }
}
.camisetaContainer {
  width: 48%;
  position: relative;
}

.camiestaLink {
  text-decoration: none;
  color: rgb(240, 240, 240);
}

.camisetaImage {
  width: 100%;
}

.camisetaInformationContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.camisetaTitle {
  font-size: 0.9rem;
}

.camisetaPrice {
  font-size: 0.9rem;
  font-weight: 600;
}

.camisetaDiscount {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 192, 0);
  padding: 3px;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: 500;
}

@media (width >= 768px) {
  .camisetaContainer {
    width: 30%;
  }
  .camisetaInformationContainer {
    gap: 10px;
  }
  .camisetaTitle {
    font-size: 1.1rem;
  }
  .camisetaPrice {
    font-size: 1.1rem;
  }
  .camisetaDiscount {
    padding: 4px;
    border-radius: 5px;
    font-size: 1rem;
  }
}
@media (width >= 992px) {
  .camisetaContainer {
    width: 20%;
  }
  .camisetaInformationContainer {
    gap: 7px;
  }
  .camisetaTitle {
    font-size: 0.9rem;
  }
  .camisetaPrice {
    font-size: 0.9rem;
  }
  .camisetaDiscount {
    padding: 3px;
    border-radius: 3px;
    font-size: 0.8rem;
  }
}
@media (width >= 1200px) {
  .camisetaInformationContainer {
    gap: 10px;
  }
  .camisetaTitle {
    font-size: 1rem;
  }
  .camisetaPrice {
    font-size: 1.1rem;
  }
  .camisetaDiscount {
    padding: 4px;
    border-radius: 5px;
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=styles.css.map */