@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(25, 25, 25);
  color: rgb(240, 240, 240);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(25, 25, 25);
  padding: 5px 15px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.headerOpenNavbarButtonAndSearchButtonContainer {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerOpenNavbarButton, .headerSearchButton {
  background: none;
  border: none;
}

.headerOpenNavbarIcon {
  width: 30px;
  color: rgb(240, 240, 240);
}

.headerSearchInputContainer {
  display: none;
}

.headerLogoContainer {
  width: 50%;
  text-align: center;
}

.headerLogo {
  width: 40px;
}

.headerIconsContainer {
  width: 25%;
  display: flex;
  justify-content: right;
  gap: 20px;
}

.headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon, .headerCreateIcon {
  width: 25px;
  color: rgb(240, 240, 240);
}

.headerNavbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70vw;
  z-index: 15;
  background-color: rgb(25, 25, 25);
  box-shadow: 0px 0px 0px 300px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.headerCloseNavbarButtonContainer {
  text-align: right;
  margin-bottom: 10px;
}

.headerCloseNavbarButton {
  background: none;
  border: none;
  padding: 10px;
}

.headerCloseNavbarIcon {
  width: 23px;
  color: rgb(240, 240, 240);
}

.headerNavbarLinksContainer {
  padding: 0 20px;
}

.headerNavbarLinksList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.headerNavbarItemList {
  list-style: none;
  font-size: 0.9rem;
}

.headerNavbarItemLink {
  color: rgb(240, 240, 240);
  text-decoration: none;
}

@media (width >= 768px) {
  header {
    padding: 7px 35px;
  }
  .headerOpenNavbarButtonAndSearchButtonContainer {
    gap: 40px;
  }
  .headerOpenNavbarIcon {
    width: 40px;
  }
  .headerLogo {
    width: 55px;
  }
  .headerIconsContainer {
    gap: 40px;
  }
  .headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon, .headerCreateIcon {
    width: 32px;
  }
  .headerNavbar {
    width: 60vw;
    box-shadow: 0px 0px 0px 600px rgba(0, 0, 0, 0.5);
  }
  .headerCloseNavbarButtonContainer {
    margin-bottom: 10px;
  }
  .headerCloseNavbarButton {
    padding: 15px;
  }
  .headerCloseNavbarIcon {
    width: 30px;
  }
  .headerNavbarLinksContainer {
    padding: 0 30px;
  }
  .headerNavbarLinksList {
    gap: 35px;
  }
  .headerNavbarItemList {
    font-size: 1.2rem;
  }
}
@media (width >= 992px) {
  header {
    padding: 5px 35px;
  }
  .headerOpenNavbarButtonAndSearchButtonContainer {
    display: none;
  }
  .headerSearchInputContainer {
    display: block;
    width: 25%;
  }
  .headerSearchForm {
    background-color: rgb(45, 45, 45);
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 3px;
    width: 85%;
  }
  .headerSearchLabel {
    width: 15%;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgb(150, 150, 150);
  }
  .headerSearchLabelIcon {
    width: 20px;
    color: rgb(200, 200, 200);
    padding-right: 5px;
  }
  .headerSearchInput {
    width: 85%;
    background: none;
    border: none;
    outline: none;
    padding-left: 10px;
    color: rgb(200, 200, 200);
  }
  .headerLogo {
    width: 40px;
  }
  .headerIconsContainer {
    gap: 35px;
  }
  .headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon, .headerCreateIcon {
    width: 23px;
  }
}
@media (width >= 1200px) {
  header {
    padding: 5px 55px;
  }
  .headerSearchForm {
    padding: 7px;
    border-radius: 8px;
    width: 75%;
  }
  .headerSearchLabelIcon {
    width: 25px;
    padding-right: 7px;
  }
  .headerSearchInput {
    padding-left: 14px;
  }
  .headerLogo {
    width: 45px;
  }
  .headerIconsContainer {
    gap: 40px;
  }
  .headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon, .headerCreateIcon {
    width: 28px;
  }
}
footer {
  border-top: 2px solid green;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footerSection {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footerSectionTitle {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.footerSectionLink {
  text-decoration: none;
  color: rgb(200, 200, 200);
  font-size: 0.9rem;
}

.footerCopyrightAndDevelopedBySection {
  text-align: center;
  color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid rgb(82, 82, 82);
  padding-top: 25px;
}

.footerCopyrightText {
  font-size: 0.8rem;
}

.footerDevelopedByText {
  font-size: 0.8rem;
}

.footerDevelopedByLink {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-weight: 500;
}

@media (width >= 768px) {
  footer {
    padding: 40px 50px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 60px;
  }
  .footerSection {
    gap: 10px;
  }
  .footerSectionTitle {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .footerSectionLink {
    font-size: 1rem;
  }
  .footerCopyrightAndDevelopedBySection {
    width: 100%;
    gap: 30px;
    padding-top: 35px;
  }
  .footerCopyrightText {
    font-size: 1rem;
  }
  .footerDevelopedByText {
    font-size: 1rem;
  }
}
@media (width >= 992px) {
  footer {
    padding: 30px 40px;
    gap: 50px;
  }
  .footerSection {
    gap: 10px;
  }
  .footerSectionTitle {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  .footerSectionLink {
    font-size: 0.8rem;
  }
  .footerCopyrightAndDevelopedBySection {
    gap: 20px;
    padding-top: 25px;
  }
  .footerCopyrightText {
    font-size: 0.8rem;
  }
  .footerDevelopedByText {
    font-size: 0.8rem;
  }
}
@media (width >= 1200px) {
  footer {
    padding: 30px 40px;
    gap: 60px;
  }
  .footerSection {
    gap: 8px;
  }
  .footerSectionTitle {
    font-size: 0.9rem;
  }
  .footerSectionLink {
    font-size: 0.9rem;
  }
  .footerCopyrightAndDevelopedBySection {
    gap: 25px;
    padding-top: 30px;
  }
  .footerCopyrightText {
    font-size: 0.9rem;
  }
  .footerDevelopedByText {
    font-size: 0.9rem;
  }
}
.indexBannerSection {
  background-image: url("/images/exampleBanner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
}

.indexTextSectionDesktop {
  display: none;
  color: rgb(200, 200, 200);
}

.indexTextSectionSplide {
  margin: 25px 0 40px;
  color: rgb(200, 200, 200);
}

.indexShipmentIcon, .indexWhatsappIcon, .indexSafePurchaseIcon, .indexInstagramIcon {
  width: 50px;
}

.indexShipmentContainerText, .indexWhatsappContainerText, .indexSafePurchaseContainerText, .indexInstagramContainerText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.indexShipmentText, .indexWhatsappText, .indexSafePurchaseText, .indexInstagramText {
  font-size: 0.9rem;
  font-weight: 500;
}

.indexWhatsappInformationContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.indexCategoriesSection {
  display: none;
}

.indexCamisetasSection {
  width: 91%;
  margin: 0 auto 40px;
}

.indexCamisetasTitleAndFilterButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.indexCamisetasTitle {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.indexCamisetasTitleUnderline {
  width: 100px;
  height: 4px;
  background-color: green;
}

.indexCamisetasFilterButton {
  background: none;
  border: none;
}

.indexCamisetasFilterIcon {
  width: 25px;
  color: rgb(240, 240, 240);
}

.indexCamisetasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

@media (width >= 768px) {
  .indexBannerSection {
    height: 45vh;
  }
  .indexTextSectionSplide {
    margin: 35px 0 60px;
  }
  .indexShipmentIcon, .indexWhatsappIcon, .indexSafePurchaseIcon, .indexInstagramIcon {
    width: 80px;
  }
  .indexShipmentContainerText, .indexWhatsappContainerText, .indexSafePurchaseContainerText, .indexInstagramContainerText {
    gap: 30px;
    margin-bottom: 45px;
  }
  .indexShipmentText, .indexWhatsappText, .indexSafePurchaseText, .indexInstagramText {
    font-size: 1.3rem;
  }
  .indexWhatsappInformationContainer {
    gap: 10px;
  }
  .indexCamisetasSection {
    width: 85%;
    margin: 0 auto 60px;
  }
  .indexCamisetasTitleAndFilterButtonContainer {
    margin-bottom: 60px;
  }
  .indexCamisetasTitle {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .indexCamisetasTitleUnderline {
    width: 170px;
    height: 6px;
  }
  .indexCamisetasFilterIcon {
    width: 40px;
  }
  .indexCamisetasContainer {
    gap: 40px;
  }
}
@media (width >= 992px) {
  .indexBannerSection {
    height: 55vh;
  }
  .splide__track {
    display: none;
  }
  .indexTextSectionDesktop {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
  }
  .indexTextSectionSplide {
    margin: 45px 0 60px;
  }
  .indexShipmentIcon, .indexWhatsappIcon, .indexSafePurchaseIcon, .indexInstagramIcon {
    width: 35px;
  }
  .indexShipmentContainerText, .indexWhatsappContainerText, .indexSafePurchaseContainerText, .indexInstagramContainerText {
    gap: 10px;
    margin-bottom: 0;
  }
  .indexShipmentText, .indexWhatsappText, .indexSafePurchaseText, .indexInstagramText {
    font-size: 0.8rem;
  }
  .indexWhatsappInformationContainer {
    gap: 5px;
  }
  .indexTextSectionSeparator {
    width: 1px;
    height: 35px;
    background-color: white;
  }
  .indexCategoriesSection {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    display: block;
    font-size: 0.9rem;
    margin: 0 40px 60px;
    padding: 20px 0;
  }
  .indexCategoriesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .indexCategoryItemList {
    list-style: none;
  }
  .indexCategoryItemLink {
    text-decoration: none;
    color: rgb(240, 240, 240);
    transition: 0.3s all;
  }
  .indexCategoryItemLink:hover {
    color: rgb(7, 190, 7);
    transition: 0.3s all;
  }
  .indexCamisetasSection {
    width: 90%;
  }
  .indexCamisetasTitleAndFilterButtonContainer {
    width: 95%;
    margin: 0 auto 60px;
  }
  .indexCamisetasTitle {
    font-size: 1.7rem;
  }
  .indexCamisetasFilterIcon {
    width: 30px;
  }
  .indexCamisetasContainer {
    gap: 23px;
  }
}
@media (width >= 1200px) {
  .indexTextSectionDesktop {
    width: 75%;
  }
  .indexShipmentIcon, .indexWhatsappIcon, .indexSafePurchaseIcon, .indexInstagramIcon {
    width: 38px;
  }
  .indexShipmentContainerText, .indexWhatsappContainerText, .indexSafePurchaseContainerText, .indexInstagramContainerText {
    gap: 15px;
  }
  .indexTextSectionSeparator {
    height: 42px;
  }
  .indexCategoriesSection {
    width: 85%;
    margin: 0 auto 90px;
    padding: 30px 0;
  }
  .indexCategoriesList {
    gap: 25px;
  }
  .indexCamisetasSection {
    width: 85%;
  }
  .indexCamisetasTitleAndFilterButtonContainer {
    width: 95%;
    margin: 0 auto 65px;
  }
  .indexCamisetasTitle {
    font-size: 1.8rem;
  }
  .indexCamisetasFilterIcon {
    width: 35px;
  }
  .indexCamisetasContainer {
    padding: 0;
    gap: 25px;
  }
}
.registerFormSection {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80%;
}

.registroImageContainer {
  text-align: center;
  margin-bottom: 15px;
}

.registroLogo {
  width: 70px;
}

.registroTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.registroCreateAccountText {
  font-size: 0.8rem;
}

.registroLoginText {
  font-size: 0.8rem;
  color: rgb(160, 160, 160);
}

.registroLoginLink {
  text-decoration: none;
  color: rgb(9, 116, 9);
  font-weight: 500;
}

.registroForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registroFormLabelAndInputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.registroLabel {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(200, 200, 200);
  margin-left: 2px;
}

.registroInput {
  color: rgb(200, 200, 200);
  background-color: rgb(45, 45, 45);
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.registerButton {
  margin-top: 15px;
  background-color: rgb(35, 35, 35);
  border: none;
  color: rgb(200, 200, 200);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
}

.frontendRegistroError, .backendRegistroError {
  color: rgb(192, 0, 0);
  font-size: 0.7rem;
}

.registerImageSection {
  display: none;
}

@media (width >= 768px) {
  .registerFormSection {
    width: 65%;
  }
  .registroImageContainer {
    margin-bottom: 25px;
  }
  .registroLogo {
    width: 100px;
  }
  .registroTextContainer {
    gap: 10px;
    margin-bottom: 40px;
  }
  .registroCreateAccountText {
    font-size: 1rem;
  }
  .registroLoginText {
    font-size: 1rem;
    font-weight: 500;
  }
  .registroLoginLink {
    font-weight: 600;
  }
  .registroForm {
    gap: 20px;
  }
  .registroFormLabelAndInputContainer {
    gap: 6px;
  }
  .registroLabel {
    font-size: 0.95rem;
  }
  .registroInput {
    font-size: 1.2rem;
    padding: 7px 13px;
  }
  .registerButton {
    padding: 15px;
    font-size: 0.9rem;
  }
  .frontendRegistroError, .backendRegistroError {
    font-size: 0.8rem;
  }
}
@media (width >= 992px) {
  .registroMain {
    display: flex;
    height: 100vh;
  }
  .registerFormSection {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .registerContainer {
    width: 70%;
  }
  .registroImageContainer {
    text-align: left;
    margin-bottom: 15px;
  }
  .registroLogo {
    width: 60px;
  }
  .registroTextContainer {
    gap: 5px;
    margin-bottom: 25px;
  }
  .registroCreateAccountText {
    font-size: 0.8rem;
  }
  .registroLoginText {
    font-size: 0.8rem;
  }
  .registroForm {
    gap: 10px;
  }
  .registroFormLabelAndInputContainer {
    gap: 3px;
  }
  .registroLabel {
    font-size: 0.7rem;
  }
  .registroInput {
    font-size: 0.9rem;
    padding: 5px 7px;
  }
  .registerButton {
    padding: 8px;
    font-size: 0.7rem;
  }
  .frontendRegistroError, .backendRegistroError {
    font-size: 0.7rem;
  }
  .registerImageSection {
    display: block;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/4.png");
    background-size: cover;
    background-position: 90%;
  }
}
@media (width >= 1200px) {
  .registerContainer {
    width: 60%;
  }
  .registroImageContainer {
    margin-bottom: 18px;
  }
  .registroLogo {
    width: 70px;
  }
  .registroTextContainer {
    gap: 7px;
    margin-bottom: 30px;
  }
  .registroCreateAccountText {
    font-size: 0.9rem;
  }
  .registroLoginText {
    font-size: 0.9rem;
  }
  .registroForm {
    gap: 15px;
  }
  .registroFormLabelAndInputContainer {
    gap: 5px;
  }
  .registroLabel {
    font-size: 0.8rem;
  }
  .registroInput {
    font-size: 1rem;
    padding: 5px 10px;
  }
  .registerButton {
    padding: 10px;
    font-size: 0.8rem;
  }
  .registerImageSectionTextContainer {
    bottom: 10%;
    right: 20px;
    gap: 15px;
  }
  .registerImageSectionPrimaryText {
    font-size: 2.3rem;
  }
  .registerImageSectionSecondaryText {
    font-size: 1.7rem;
  }
}
.categoryMain {
  width: 91%;
  margin: 20px auto 40px;
}

.categoryFilterSection {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: rgb(220, 220, 220);
  z-index: 20;
  padding: 20px 0;
  box-shadow: 0px 0px 0px 600px rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.categoryFilterSection::-webkit-scrollbar {
  width: 10px;
}

.categoryFilterSection::-webkit-scrollbar-track {
  background: rgb(35, 35, 35);
  border-radius: 10px;
}

.categoryFilterSection::-webkit-scrollbar-thumb {
  background: rgb(45, 45, 45);
  border-radius: 10px;
}

.categoryFilterSection::-webkit-scrollbar-thumb:hover {
  background: rgb(65, 65, 65);
}

.categoryFilterTitleAndCloseButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.categoryFilterTitle {
  font-size: 1.6rem;
  color: rgb(40, 40, 40);
}

.categoryFilterCloseButton {
  background: none;
  border: none;
}

.categoryFilterCloseIcon {
  width: 24px;
}

.categoryFilterForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: auto;
}

.categoryFilterSubtitle {
  font-size: 1rem;
  color: rgb(60, 60, 60);
}

.categoryFilterLabel {
  display: flex;
  align-items: center;
  gap: 8px;
}

.categoryFilterCheckbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 2px solid rgb(60, 60, 60);
  transition: 0.2s;
}

.categoryFilterCheckbox:checked {
  background-color: rgb(60, 60, 60);
  transition: 0.2s;
}

.categoryFilterCheckboxName {
  color: rgb(60, 60, 60);
  font-weight: 600;
}

.subcategoriesFilterError {
  color: red;
  font-size: 0.8rem;
}

.categoryFilterPriceTitle, .categoryFilterTallesTitle {
  margin-top: 20px;
}

.categoryFilterPriceContainer {
  display: flex;
  gap: 10px;
}

.categoryFilterPriceInput {
  width: 30%;
  background-color: rgb(235, 235, 235);
  border: none;
  padding: 7px 10px;
  color: rgb(60, 60, 60);
  border-radius: 5px;
}

.categoryFilterApplyButtonContainer {
  margin-top: 20px;
}

.categoryFilterApplyButton {
  background-color: rgb(60, 60, 60);
  color: rgb(240, 240, 240);
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
}

@media (width >= 768px) {
  .categoryMain {
    width: 85%;
    margin: 40px auto 60px;
  }
  .categoryFilterSection {
    padding: 50px 0;
    box-shadow: 0px 0px 0px 800px rgba(0, 0, 0, 0.6);
  }
  .categoryFilterTitleAndCloseButtonContainer {
    width: 80%;
    margin-bottom: 40px;
  }
  .categoryFilterTitle {
    font-size: 2rem;
  }
  .categoryFilterCloseIcon {
    width: 30px;
  }
  .categoryFilterForm {
    gap: 20px;
    width: 80%;
  }
  .categoryFilterSubtitle {
    font-size: 1.3rem;
  }
  .categoryFilterLabel {
    gap: 10px;
  }
  .categoryFilterCheckbox {
    width: 25px;
    height: 25px;
    border: 3px solid rgb(60, 60, 60);
  }
  .categoryFilterCheckboxName {
    font-size: 1.3rem;
  }
  .categoryFilterPriceTitle {
    margin-top: 30px;
  }
  .categoryFilterPriceContainer {
    gap: 20px;
  }
  .categoryFilterPriceInput {
    font-size: 1.2rem;
    padding: 7px 10px;
  }
  .categoryFilterApplyButtonContainer {
    margin-top: 30px;
  }
  .categoryFilterApplyButton {
    font-size: 1.2rem;
    padding: 10px 50px;
  }
}
@media (width >= 992px) {
  .categoryMain {
    width: 90%;
    display: flex;
  }
  .categoryFilterSection {
    display: block;
    width: 20%;
    box-shadow: none;
    position: static;
    padding: 0;
    background: none;
  }
  .categoryFilterTitleAndCloseButtonContainer {
    width: 100%;
    margin-bottom: 40px;
  }
  .categoryFilterTitle {
    font-size: 1.7rem;
    color: rgb(240, 240, 240);
  }
  .categoryFilterCloseIcon {
    display: none;
  }
  .categoryFilterForm {
    gap: 20px;
    width: 100%;
  }
  .categoryFilterSubtitle {
    font-size: 1rem;
    color: rgb(200, 200, 200);
  }
  .categoryFilterLabel {
    gap: 8px;
  }
  .categoryFilterCheckbox {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(160, 160, 160);
  }
  .categoryFilterCheckbox:checked {
    background-color: rgb(160, 160, 160);
  }
  .categoryFilterCheckboxName {
    font-size: 0.9rem;
    color: rgb(160, 160, 160);
  }
  .categoryFilterPriceTitle {
    margin-top: 20px;
  }
  .categoryFilterPriceContainer {
    flex-direction: column;
    gap: 10px;
  }
  .categoryFilterPriceInput {
    width: 70%;
    font-size: 0.9rem;
    padding: 7px 10px;
    border: 2px solid rgb(55, 55, 55);
    background-color: rgb(35, 35, 35);
    color: rgb(160, 160, 160);
  }
  .categoryFilterApplyButton {
    font-size: 0.8rem;
    padding: 8px 20px;
  }
  .categoryProductsSection {
    width: 80%;
    padding-left: 30px;
  }
  .categoryCamisetasTitleAndFilterButtonContainer {
    margin-bottom: 40px;
  }
  .categoryCamisetasFilterButtonContainer {
    display: none;
  }
  .categoryCamisetaContainer {
    width: 22% !important;
  }
}
@media (width >= 1200px) {
  .categoryMain {
    width: 85%;
  }
  .categoryFilterTitle {
    font-size: 1.8rem;
  }
  .categoryFilterForm {
    gap: 18px;
  }
}
.crearContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(35, 35, 35);
  padding: 40px;
  width: 80%;
  margin: 40px auto;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 5px;
}

.crearLink {
  text-decoration: none;
  text-align: center;
  color: rgb(200, 200, 200);
  background-color: rgb(30, 30, 30);
  padding: 10px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 2px;
  font-weight: 500;
}

@media (width >= 768px) {
  .crearContainer {
    gap: 40px;
    padding: 60px;
    width: 70%;
    margin: 60px auto;
  }
  .crearLink {
    padding: 15px;
    font-size: 1.3rem;
  }
}
@media (width >= 992px) {
  .crearContainer {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 35px 60px;
    width: 85%;
    margin: 80px auto;
  }
  .crearLink {
    width: 30%;
    padding: 10px;
    font-size: 0.9rem;
  }
}
.crearProductForm {
  width: 90%;
  margin: 40px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(35, 35, 35);
  border: 2px solid rgb(55, 55, 55);
}

.crearProductTitle {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.createProductLabelAndInputContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.createProductLabel {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(200, 200, 200);
}

.createProductInput {
  background-color: rgb(45, 45, 45);
  border: none;
  outline: none;
  color: rgb(240, 240, 240);
  font-size: 0.9rem;
  padding: 5px 8px;
  border-radius: 2px;
}

.crearProductoButton {
  background-color: rgb(35, 35, 35);
  border: 2px solid rgb(55, 55, 55);
  color: rgb(200, 200, 200);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

@media (width >= 768px) {
  .crearProductForm {
    width: 75%;
    margin: 80px auto;
    padding: 20px;
    gap: 30px;
  }
  .crearProductTitle {
    font-size: 1.7rem;
  }
  .createProductLabelAndInputContainer {
    gap: 4px;
  }
  .createProductLabel {
    font-size: 0.9rem;
  }
  .createProductInput {
    font-size: 1rem;
    padding: 7px 10px;
  }
  .crearProductoButton {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px;
  }
}
@media (width >= 992px) {
  .crearProductForm {
    width: 60%;
    margin: 40px auto;
    padding: 15px;
    gap: 15px;
  }
  .crearProductTitle {
    font-size: 1rem;
  }
  .createProductLabelAndInputContainer {
    gap: 2px;
  }
  .createProductLabel {
    font-size: 0.7rem;
  }
  .createProductInput {
    font-size: 0.8rem;
    padding: 5px 7px;
  }
  .crearProductoButton {
    font-size: 0.8rem;
    padding: 8px;
  }
}
@media (width >= 1200px) {
  .crearProductForm {
    width: 50%;
    gap: 20px;
  }
  .crearProductTitle {
    font-size: 1.2rem;
  }
  .createProductLabelAndInputContainer {
    gap: 3px;
  }
  .createProductLabel {
    font-size: 0.8rem;
  }
  .createProductInput {
    font-size: 0.9rem;
    padding: 7px 10px;
  }
  .crearProductoButton {
    font-size: 0.9rem;
    padding: 10px;
  }
}
.categoriesEditContainer {
  width: 90%;
  margin: 40px auto;
  background-color: rgb(35, 35, 35);
  border: 2px solid rgb(55, 55, 55);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categoryEditContainer {
  display: flex;
  align-items: center;
}

.categoryEditTitle {
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
}

.categoryEditLink {
  width: 20%;
  text-decoration: none;
  color: rgb(240, 240, 240);
  display: flex;
  justify-content: right;
  align-items: center;
}

.categoryEditIcon {
  width: 20px;
}

@media (width >= 768px) {
  .categoriesEditContainer {
    width: 75%;
    padding: 30px;
    gap: 30px;
  }
  .categoryEditTitle {
    font-size: 1.4rem;
  }
  .categoryEditIcon {
    width: 30px;
  }
}
@media (width >= 992px) {
  .categoriesEditContainer {
    width: 50%;
    padding: 20px;
    gap: 30px;
  }
  .categoryEditTitle {
    font-size: 1rem;
  }
  .categoryEditIcon {
    width: 25px;
  }
}
.shoppingCartMain {
  padding: 20px;
}

.shoppingCartProductsContainer {
  background-color: rgb(35, 35, 35);
  border: 2px solid rgb(55, 55, 55);
  border-radius: 10px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shoppingCartProductContainer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgb(55, 55, 55);
  border-bottom: 1px solid rgb(55, 55, 55);
  padding: 10px 0;
}

.shoppingCartProductImageContainer {
  width: 30%;
}

.shoppingCartProductImage {
  width: 100%;
  max-height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.shoppingCartProductNameAndDeleteButtonContainer {
  width: 70%;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.shoppingCartProductName {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
}

.shoppingCartDeleteButtonForm {
  width: 20%;
  text-align: left;
}

.shoppingCartDeleteProductButton {
  background: none;
  border: none;
  cursor: pointer;
}

.shoppingCartDeleteProductIcon {
  width: 24px;
  color: gray;
}

.shoppingCartProductPriceAndDiscountContainer {
  width: 80%;
  text-align: right;
}

.shoppingCartProductPrice {
  font-size: 1rem;
  font-weight: 600;
}

.shoppingCartProductDiscount {
  font-size: 0.7rem;
  font-weight: 500;
  color: rgb(47, 179, 47);
}

.shoppingCartEmptyContainer {
  background-color: rgb(35, 35, 35);
  border: 2px solid rgb(55, 55, 55);
  border-radius: 10px;
  padding: 60px 30px 40px;
}

.shoppingCartEmptyIconContainer {
  text-align: center;
  margin-bottom: 20px;
}

.shoppingCartEmptyIcon {
  width: 100px;
  color: gray;
}

.shoppingCartEmptyTextContainer {
  text-align: center;
}

.shoppingCartEmptyPrimaryText {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.shoppingCartEmptySecondaryText {
  font-size: 1rem;
  color: gray;
}

.shoppingCarsEmptyExploreProductsLinkContainer {
  margin-top: 35px;
  text-align: center;
}

.shoppingCarsEmptyExploreProductsLink {
  width: 100%;
  background-color: green;
  color: rgb(240, 240, 240);
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 5px;
  font-weight: 500;
}

.shoppingCartTotalSection {
  margin-top: 20px;
  position: sticky;
  bottom: 0;
  background-color: rgb(35, 35, 35);
  border: 2px solid rgb(55, 55, 55);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shoppingCartProductsPriceContainer, .shoppingCartTotalPriceContainer {
  display: flex;
  justify-content: space-between;
}

.shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice {
  font-size: 0.9rem;
}

.shoppingCartTotalText, .shoppingCartTotalPrice {
  font-size: 1.1rem;
  font-weight: 500;
}

.shoppingCartBuyButtonContainer {
  margin-top: 10px;
}

.shoppingCartBuyButton {
  width: 100%;
  background-color: green;
  color: rgb(240, 240, 240);
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
}

.shoppingCartTotalSectionDesktop {
  display: none;
}

@media (width >= 768px) {
  .shoppingCartMain {
    padding: 30px 60px;
  }
  .shoppingCartProductsContainer {
    padding: 0px 30px;
    gap: 20px;
  }
  .shoppingCartProductContainer {
    padding: 10px 0;
  }
  .shoppingCartProductImageContainer {
    width: 30%;
  }
  .shoppingCartProductImage {
    max-height: 130px;
  }
  .shoppingCartProductNameAndDeleteButtonContainer {
    width: 70%;
    padding-left: 30px;
  }
  .shoppingCartProductName {
    font-size: 1.1rem;
  }
  .shoppingCartDeleteProductIcon {
    width: 35px;
  }
  .shoppingCartProductPrice {
    font-size: 1.3rem;
  }
  .shoppingCartProductDiscount {
    font-size: 0.9rem;
  }
  .shoppingCartEmptyContainer {
    padding: 100px 30px 80px;
  }
  .shoppingCartEmptyIconContainer {
    margin-bottom: 30px;
  }
  .shoppingCartEmptyIcon {
    width: 140px;
  }
  .shoppingCartEmptyPrimaryText {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  .shoppingCartEmptySecondaryText {
    font-size: 1.2rem;
  }
  .shoppingCarsEmptyExploreProductsLinkContainer {
    margin-top: 55px;
  }
  .shoppingCarsEmptyExploreProductsLink {
    padding: 10px 50px;
    font-size: 1.2rem;
  }
  .shoppingCartTotalSection {
    margin-top: 30px;
    padding: 30px;
    gap: 20px;
  }
  .shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice {
    font-size: 1.2rem;
  }
  .shoppingCartTotalText, .shoppingCartTotalPrice {
    font-size: 1.5rem;
  }
  .shoppingCartBuyButtonContainer {
    margin-top: 20px;
  }
  .shoppingCartBuyButton {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 12px;
  }
}
@media (width >= 992px) {
  .shoppingCartMain {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
  }
  .shoppingCartProductsSection {
    width: 70%;
  }
  .shoppingCartProductsContainer {
    padding: 0px 20px;
    gap: 10px;
  }
  .shoppingCartProductImageContainer {
    width: 20%;
  }
  .shoppingCartProductImage {
    max-height: 100px;
  }
  .shoppingCartProductNameAndDeleteButtonContainer {
    width: 80%;
    padding-left: 20px;
  }
  .shoppingCartProductName {
    font-size: 1rem;
  }
  .shoppingCartDeleteProductIcon {
    width: 25px;
  }
  .shoppingCartProductPrice {
    font-size: 1.1rem;
  }
  .shoppingCartProductDiscount {
    font-size: 0.8rem;
  }
  .shoppingCartEmptyContainer {
    padding: 70px 30px 50px;
  }
  .shoppingCartEmptyIconContainer {
    margin-bottom: 15px;
  }
  .shoppingCartEmptyIcon {
    width: 100px;
  }
  .shoppingCartEmptyPrimaryText {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .shoppingCartEmptySecondaryText {
    font-size: 1rem;
  }
  .shoppingCarsEmptyExploreProductsLinkContainer {
    margin-top: 40px;
  }
  .shoppingCarsEmptyExploreProductsLink {
    padding: 8px 30px;
    font-size: 0.9rem;
  }
  .shoppingCartTotalSection {
    position: static;
    width: 25%;
    margin-top: 0;
    padding: 20px;
    gap: 20px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice {
    font-size: 0.9rem;
  }
  .shoppingCartTotalText, .shoppingCartTotalPrice {
    font-size: 1.1rem;
  }
  .shoppingCartBuyButtonContainer {
    margin-top: 20px;
  }
  .shoppingCartBuyButton {
    font-size: 1rem;
    padding: 8px;
  }
  .shoppingCartTotalSectionDesktop {
    width: 25%;
    padding: 20px;
    gap: 20px;
    height: -moz-fit-content;
    height: fit-content;
    background-color: rgb(35, 35, 35);
    border: 2px solid rgb(55, 55, 55);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (width >= 1200px) {
  .shoppingCartMain {
    padding: 0;
    width: 85%;
    margin: 40px auto;
  }
  .shoppingCartProductsContainer {
    padding: 0px 25px;
  }
  .shoppingCartProductImage {
    max-height: 120px;
  }
  .shoppingCartProductNameAndDeleteButtonContainer {
    padding-left: 30px;
  }
  .shoppingCartProductName {
    font-size: 1.1rem;
  }
  .shoppingCartDeleteProductIcon {
    width: 29px;
  }
  .shoppingCartProductPrice {
    font-size: 1.2rem;
  }
  .shoppingCartProductDiscount {
    font-size: 0.85rem;
  }
  .shoppingCartEmptyContainer {
    padding: 70px 30px 60px;
  }
  .shoppingCartEmptyIconContainer {
    margin-bottom: 20px;
  }
  .shoppingCartEmptyIcon {
    width: 110px;
  }
  .shoppingCartEmptyPrimaryText {
    font-size: 1.2rem;
  }
  .shoppingCartEmptySecondaryText {
    font-size: 1.1rem;
  }
  .shoppingCarsEmptyExploreProductsLinkContainer {
    margin-top: 50px;
  }
  .shoppingCarsEmptyExploreProductsLink {
    font-size: 1rem;
  }
  .shoppingCartTotalSection {
    padding: 25px;
    gap: 25px;
  }
  .shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice {
    font-size: 1rem;
  }
  .shoppingCartTotalText, .shoppingCartTotalPrice {
    font-size: 1.2rem;
  }
  .shoppingCartBuyButtonContainer {
    margin-top: 30px;
  }
  .shoppingCartBuyButton {
    font-size: 1.1rem;
  }
  .shoppingCartTotalSectionDesktop {
    padding: 25px;
    gap: 20px;
    gap: 15px;
  }
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.productDetailSection {
  margin: 10px 0 40px;
}

.productDetailImageContainer {
  margin-bottom: 10px;
}

.productDetailImage {
  width: 100%;
}

.productDetailInformation {
  width: 90%;
  margin: auto;
}

.productDetailNameCategoryAndSubcategory {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 20px;
}

.productDetailName {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  margin-bottom: 5px;
}

.productDetailCategory, .productDetailSubcategory {
  font-size: 0.9rem;
  color: rgb(200, 200, 200);
}

.productDetailPriceDiscountQuantityAndSizesContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.productDetailPriceAndDiscountContainer {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.productDetailPrice {
  font-size: 1.6rem;
  font-weight: 500;
}

.productDetailDiscount {
  font-size: 0.9rem;
  color: rgb(0, 192, 0);
}

.productDetailQuantityContainer {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.productDetailQuantityLabel {
  width: 100%;
  font-size: 0.9rem;
  color: rgb(200, 200, 200);
}

.quantityContainer {
  margin-top: 5px;
  display: flex;
}

.productDetailQuantitySubtractButton, .productDetailQuantityAddButton {
  font-size: 1.2rem;
  width: 30px;
  border: none;
  background-color: rgb(192, 192, 192);
  cursor: pointer;
}

.productDetailQuantitySubtractButton {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.productDetailQuantityAddButton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.productDetailQuantityInput {
  border: none;
  background-color: rgb(235, 235, 235);
  width: 40px;
  text-align: center;
  font-size: 1rem;
  padding: 7px 0;
}

.productDetailStockDisponible {
  font-size: 1rem;
  color: gray;
  margin-left: 10px;
}

.productDetailSizesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.productDetailSizeLabel {
  color: rgb(240, 240, 240);
  background-color: rgb(50, 50, 50);
  width: 50px;
  padding: 7px 0;
  border-radius: 3px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.productDetailSizeRadio {
  display: none;
}

.productDetailButtonsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productDetailBuyButton, .productDetailAddToCartButton, .productDetailEditProduct, .productDetailDeleteProduct {
  width: 100%;
  font-size: 1.3rem;
  border: none;
  padding: 8px;
  border-radius: 10px;
  color: rgb(240, 240, 240);
  cursor: pointer;
}

.productDetailBuyButton {
  background-color: green;
}

.productDetailAddToCartButton {
  background-color: rgb(55, 55, 55);
}

.productDetailEditProduct {
  background-color: blue;
}

.productDetailDeleteProduct {
  background-color: rgb(192, 0, 0);
}

.deleteProductForm {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  width: 80%;
  padding: 30px 15px;
  margin: auto;
  background-color: rgb(35, 35, 35);
  border: 2px solid rgb(55, 55, 55);
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 0px 500px rgba(0, 0, 0, 0.7);
}

.deleteProductFormTitle {
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.deleteProductFormProductName {
  font-size: 1rem;
}

.deleteProductButtonsContainer {
  display: flex;
  justify-content: space-between;
}

.deleteProductButton, .deleteProductCancelButton {
  width: 48%;
  font-size: 1.1rem;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  color: rgb(240, 240, 240);
  cursor: pointer;
}

.deleteProductButton {
  background-color: rgb(192, 0, 0);
}

.deleteProductCancelButton {
  background-color: rgb(50, 50, 50);
}

@media (width >= 768px) {
  .productDetailSection {
    margin: 20px 0 40px;
    display: flex;
  }
  .productDetailImageContainer {
    width: 50%;
    margin-bottom: 0;
  }
  .productDetailInformation {
    width: 50%;
    margin: 0;
  }
  .productDetailNameCategoryAndSubcategory {
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-bottom: 40px;
  }
  .productDetailName {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .productDetailCategory, .productDetailSubcategory {
    font-size: 1.1rem;
  }
  .productDetailPriceDiscountQuantityAndSizesContainer {
    gap: 50px;
  }
  .productDetailPriceAndDiscountContainer {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  .productDetailPrice {
    font-size: 2.1rem;
    font-weight: 600;
  }
  .productDetailDiscount {
    font-size: 1.1rem;
  }
  .productDetailQuantityContainer {
    margin-bottom: 0px;
  }
  .productDetailQuantityLabel {
    font-size: 1.1rem;
  }
  .quantityContainer {
    margin-top: 10px;
  }
  .productDetailQuantitySubtractButton, .productDetailQuantityAddButton {
    font-size: 1.5rem;
    width: 50px;
  }
  .productDetailQuantityInput {
    width: 60px;
    font-size: 1.3rem;
  }
  .productDetailStockDisponible {
    font-size: 1.1rem;
    margin-left: 20px;
  }
  .productDetailSizesContainer {
    gap: 15px;
  }
  .productDetailSizeLabel {
    width: 70px;
    padding: 10px 0;
    font-size: 1.2rem;
  }
  .productDetailButtonsContainer {
    margin-top: 10px;
    gap: 20px;
  }
  .productDetailBuyButton, .productDetailAddToCartButton, .productDetailEditProduct, .productDetailDeleteProduct {
    width: 90%;
    font-size: 1.5rem;
    padding: 10px;
  }
  .deleteProductForm {
    gap: 50px;
    width: 70%;
    padding: 30px 25px;
  }
  .deleteProductFormTitle {
    margin-bottom: 30px;
    font-size: 1.6rem;
  }
  .deleteProductFormProductName {
    font-size: 1.2rem;
  }
  .deleteProductButton, .deleteProductCancelButton {
    font-size: 1.5rem;
    padding: 8px 0;
  }
}
@media (width >= 992px) {
  .productDetailSection {
    margin: 10px 20px 40px;
    justify-content: space-between;
  }
  .productDetailImageContainer {
    width: 53%;
  }
  .productDetailInformation {
    width: 45%;
    background-color: rgb(35, 35, 35);
    border: 2px solid rgb(55, 55, 55);
    border-radius: 10px;
    padding: 15px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .productDetailNameCategoryAndSubcategory {
    -moz-column-gap: 30px;
         column-gap: 30px;
    margin-bottom: 30px;
  }
  .productDetailName {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .productDetailCategory, .productDetailSubcategory {
    font-size: 0.9rem;
  }
  .productDetailPriceDiscountQuantityAndSizesContainer {
    gap: 30px;
  }
  .productDetailPriceAndDiscountContainer {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .productDetailPrice {
    font-size: 1.7rem;
    font-weight: 500;
  }
  .productDetailDiscount {
    font-size: 0.9rem;
  }
  .productDetailQuantityContainer {
    margin-bottom: 10px;
  }
  .productDetailQuantityLabel {
    font-size: 0.9rem;
  }
  .quantityContainer {
    margin-top: 5px;
  }
  .productDetailQuantitySubtractButton, .productDetailQuantityAddButton {
    font-size: 1rem;
    width: 30px;
  }
  .productDetailQuantityInput {
    width: 40px;
    font-size: 1rem;
    padding: 5px 0;
  }
  .productDetailStockDisponible {
    font-size: 0.9rem;
    margin-left: 15px;
  }
  .productDetailSizesContainer {
    gap: 10px;
  }
  .productDetailSizeLabel {
    width: 50px;
    padding: 7px 0;
    font-size: 0.9rem;
  }
  .productDetailButtonsContainer {
    gap: 10px;
  }
  .productDetailBuyButton, .productDetailAddToCartButton, .productDetailEditProduct, .productDetailDeleteProduct {
    width: 100%;
    font-size: 1.1rem;
    padding: 7px;
  }
  .deleteProductForm {
    gap: 30px;
    width: 50%;
  }
  .deleteProductFormTitle {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }
  .deleteProductFormProductName {
    font-size: 1rem;
  }
  .deleteProductButton, .deleteProductCancelButton {
    font-size: 1rem;
    padding: 5px 0;
  }
}
@media (width >= 1200px) {
  .productDetailSection {
    width: 90%;
    margin: 20px auto 40px;
  }
  .productDetailInformation {
    padding: 20px;
  }
  .productDetailNameCategoryAndSubcategory {
    margin-bottom: 50px;
  }
  .productDetailName {
    font-size: 1.8rem;
    margin-bottom: 8px;
  }
  .productDetailCategory, .productDetailSubcategory {
    font-size: 1rem;
  }
  .productDetailPriceDiscountQuantityAndSizesContainer {
    gap: 40px;
  }
  .productDetailPrice {
    font-size: 1.9rem;
  }
  .productDetailDiscount {
    font-size: 1rem;
  }
  .productDetailQuantityLabel {
    font-size: 1rem;
  }
  .quantityContainer {
    margin-top: 7px;
  }
  .productDetailQuantitySubtractButton, .productDetailQuantityAddButton {
    font-size: 1.3rem;
    width: 40px;
  }
  .productDetailQuantityInput {
    width: 50px;
    font-size: 1.1rem;
    padding: 7px 0;
  }
  .productDetailStockDisponible {
    font-size: 1rem;
    margin-left: 20px;
  }
  .productDetailSizesContainer {
    gap: 15px;
  }
  .productDetailSizeLabel {
    width: 70px;
    padding: 8px 0;
    font-size: 1.1rem;
  }
  .productDetailButtonsContainer {
    gap: 15px;
  }
  .productDetailBuyButton, .productDetailAddToCartButton, .productDetailEditProduct, .productDetailDeleteProduct {
    font-size: 1.3rem;
    padding: 8px;
  }
  .deleteProductForm {
    gap: 50px;
  }
  .deleteProductFormTitle {
    margin-bottom: 25px;
    font-size: 1.4rem;
  }
  .deleteProductFormProductName {
    font-size: 1.2rem;
  }
  .deleteProductButton, .deleteProductCancelButton {
    font-size: 1.1rem;
    padding: 7px 0;
  }
}
.profileSection {
  width: 90%;
  margin: auto;
}

.indexCamisetasTitleContainer {
  margin-bottom: 35px;
}

.profilePersonalInformationContainer, .profileShipmentInformationContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 60px;
}

.profilePersonalInformationTitle, .profileShipmentInformationTitle {
  font-size: 1.1rem;
  font-weight: 600;
}

.profilePersonalInformationBox, .profileShipmentInformationBox {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.profilePersonalInformationBoxTitle, .profileShipmentInformationBoxTitle {
  font-size: 0.9rem;
  color: rgb(200, 200, 200);
}

.profilePersonalInformationBoxContent, .profileShipmentInformationBoxContent {
  font-size: 1.1rem;
  border-bottom: 1px solid gray;
}

.profilePersonalInformationEditButtonContainer, .profileShipmentInformationEditButtonContainer {
  margin: 10px auto 0;
}

.profilePersonalInformationEditButton, .profileShipmentInformationEditButton {
  background-color: green;
  color: rgb(240, 240, 240);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
}

.profileLogoutButtonContainer {
  text-align: center;
  margin: 80px 0 40px;
}

.profileLogoutButton {
  background-color: rgb(45, 45, 45);
  padding: 5px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(200, 200, 200);
}

@media (width >= 768px) {
  .profileSection {
    margin-top: 10px;
    width: 85%;
  }
  .indexCamisetasTitleContainer {
    margin-bottom: 35px;
  }
  .profilePersonalInformationContainer, .profileShipmentInformationContainer {
    gap: 35px;
    margin-bottom: 80px;
  }
  .profilePersonalInformationTitle, .profileShipmentInformationTitle {
    font-size: 1.6rem;
  }
  .profilePersonalInformationBox, .profileShipmentInformationBox {
    gap: 3px;
  }
  .profilePersonalInformationBoxTitle, .profileShipmentInformationBoxTitle {
    font-size: 1rem;
    font-weight: 600;
  }
  .profilePersonalInformationBoxContent, .profileShipmentInformationBoxContent {
    font-size: 1.4rem;
  }
  .profilePersonalInformationEditButtonContainer, .profileShipmentInformationEditButtonContainer {
    margin: 20px auto 0;
  }
  .profilePersonalInformationEditButton, .profileShipmentInformationEditButton {
    font-size: 1.3rem;
    padding: 13px 40px;
  }
  .profileLogoutButtonContainer {
    margin: 100px 0 40px;
  }
  .profileLogoutButton {
    padding: 10px 40px;
    font-size: 1.3rem;
  }
}
@media (width >= 992px) {
  .profileSection {
    margin-top: 20px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .indexCamisetasTitleContainer {
    width: 100%;
    margin-bottom: 45px;
  }
  .profilePersonalInformationContainer, .profileShipmentInformationContainer {
    width: 45%;
    gap: 30px;
    margin-bottom: 0;
  }
  .profilePersonalInformationTitle, .profileShipmentInformationTitle {
    font-size: 1.1rem;
  }
  .profilePersonalInformationBox, .profileShipmentInformationBox {
    gap: 5px;
  }
  .profilePersonalInformationBoxTitle, .profileShipmentInformationBoxTitle {
    font-size: 0.8rem;
  }
  .profilePersonalInformationBoxContent, .profileShipmentInformationBoxContent {
    font-size: 1.1rem;
  }
  .profilePersonalInformationEditButtonContainer, .profileShipmentInformationEditButtonContainer {
    margin: 20px auto 0;
  }
  .profilePersonalInformationEditButton, .profileShipmentInformationEditButton {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
  .profileLogoutButtonContainer {
    margin: 60px auto 0px;
  }
  .profileLogoutButton {
    padding: 7px 20px;
    font-size: 0.9rem;
  }
}
@media (width >= 1200px) {
  .profileSection {
    margin-top: 30px;
    width: 90%;
    margin-bottom: 85px;
  }
  .indexCamisetasTitleContainer {
    margin-bottom: 45px;
  }
  .profilePersonalInformationContainer, .profileShipmentInformationContainer {
    gap: 35px;
  }
  .profilePersonalInformationTitle, .profileShipmentInformationTitle {
    font-size: 1.2rem;
  }
  .profilePersonalInformationBox, .profileShipmentInformationBox {
    gap: 7px;
  }
  .profilePersonalInformationBoxTitle, .profileShipmentInformationBoxTitle {
    font-size: 0.9rem;
  }
  .profilePersonalInformationBoxContent, .profileShipmentInformationBoxContent {
    font-size: 1.2rem;
  }
  .profilePersonalInformationEditButton, .profileShipmentInformationEditButton {
    font-size: 1rem;
  }
  .profileLogoutButtonContainer {
    margin: 80px auto 0px;
  }
  .profileLogoutButton {
    padding: 7px 30px;
    font-size: 1rem;
  }
}
.editPersonalInformationMain {
  width: 90%;
  margin: 10px auto 20px;
}

.editProfileForm {
  background-color: rgb(35, 35, 35);
  border: 2px solid rgb(55, 55, 55);
  padding: 20px 15px;
  border-radius: 10px;
}

.editProfileTitle {
  font-size: 1.3rem;
  margin-bottom: 25px;
}

.editProfileContentContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.editProfileLabelAndInputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editProfileLabel {
  font-size: 0.8rem;
  margin-left: 2px;
  color: rgb(200, 200, 200);
}

.editProfileInput {
  font-size: 1rem;
  background-color: rgb(45, 45, 45);
  color: rgb(200, 200, 200);
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
}

.changePasswordLink {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: green;
}

.editProfileConfirmButtonContainer {
  margin: 10px auto 0;
}

.editProfileConfirmButton {
  background-color: green;
  color: rgb(240, 240, 240);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 5px 20px;
  cursor: pointer;
}

@media (width >= 768px) {
  .editPersonalInformationMain {
    width: 75%;
    margin: 20px auto 40px;
  }
  .editProfileForm {
    padding: 30px 20px;
  }
  .editProfileTitle {
    font-size: 1.8rem;
    margin-bottom: 45px;
  }
  .editProfileContentContainer {
    gap: 35px;
  }
  .editProfileLabelAndInputContainer {
    gap: 7px;
  }
  .editProfileLabel {
    font-size: 1rem;
    font-weight: 600;
  }
  .editProfileInput {
    font-size: 1.3rem;
    padding: 7px 10px;
  }
  .changePasswordLink {
    font-size: 1.1rem;
  }
  .editProfileConfirmButton {
    font-size: 1.4rem;
    padding: 8px 40px;
    border-radius: 10px;
  }
}
@media (width >= 992px) {
  .editPersonalInformationMain {
    width: 65%;
    margin: 30px auto 60px;
  }
  .editProfileForm {
    padding: 30px 25px;
  }
  .editProfileTitle {
    font-size: 1.4rem;
    margin-bottom: 35px;
  }
  .editProfileContentContainer {
    gap: 25px;
  }
  .editProfileLabelAndInputContainer {
    gap: 6px;
  }
  .editProfileLabel {
    font-size: 0.9rem;
  }
  .editProfileInput {
    font-size: 1.1rem;
    padding: 5px 7px;
  }
  .changePasswordLink {
    font-size: 0.9rem;
  }
  .editProfileConfirmButton {
    font-size: 1.1rem;
    padding: 5px 70px;
  }
}
@media (width >= 1200px) {
  .editPersonalInformationMain {
    width: 55%;
    margin: 30px auto 80px;
  }
  .editProfileTitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  .editProfileContentContainer {
    gap: 30px;
  }
  .editProfileInput {
    padding: 5px 10px;
  }
  .editProfileConfirmButton {
    padding: 8px 70px;
  }
}
.camisetaContainer {
  width: 46%;
  position: relative;
}

.camiestaLink {
  text-decoration: none;
  color: rgb(240, 240, 240);
}

.camisetaImage {
  width: 100%;
  max-height: 151px;
  -o-object-fit: cover;
     object-fit: cover;
}

.camisetaInformationContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: 1px solid rgb(45, 45, 45);
  padding-top: 10px;
}

.camisetaTitle {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  max-height: 3em; /* line-height * number of lines */
}

.camisetaPrice {
  font-size: 0.9rem;
  font-weight: 600;
}

.camisetaDiscount {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 192, 0);
  padding: 3px;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 500;
}

.camisetaForm {
  margin-top: 7px;
}

.camisetaAddToCartButton {
  background: none;
  border: 1px solid rgb(0, 192, 0);
  color: rgb(0, 192, 0);
  padding: 7px;
  font-size: 0.7rem;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
}

@media (width >= 768px) {
  .camisetaContainer {
    width: 28%;
  }
  .camisetaImage {
    max-height: 183px;
  }
  .camisetaInformationContainer {
    gap: 10px;
    padding-top: 13px;
  }
  .camisetaTitle {
    font-size: 1.1rem;
  }
  .camisetaPrice {
    font-size: 1.1rem;
  }
  .camisetaDiscount {
    padding: 4px;
    font-size: 1rem;
  }
  .camisetaForm {
    margin-top: 15px;
  }
  .camisetaAddToCartButton {
    padding: 7px;
    font-size: 0.8rem;
  }
}
@media (width >= 992px) {
  .camisetaContainer {
    width: 23%;
  }
  .camisetaImage {
    max-height: 206px;
  }
  .camisetaInformationContainer {
    gap: 7px;
    padding-top: 15px;
  }
  .camisetaTitle {
    font-size: 0.9rem;
  }
  .camisetaPrice {
    font-size: 0.9rem;
  }
  .camisetaDiscount {
    padding: 3px;
    font-size: 0.8rem;
  }
  .camisetaForm {
    margin-top: 15px;
  }
  .camisetaAddToCartButton {
    padding: 5px;
    font-size: 0.7rem;
  }
}
@media (width >= 1200px) {
  .camisetaImage {
    max-height: 235px;
  }
  .camisetaInformationContainer {
    gap: 10px;
  }
  .camisetaTitle {
    font-size: 1rem;
  }
  .camisetaPrice {
    font-size: 1.1rem;
  }
  .camisetaDiscount {
    padding: 4px;
    font-size: 0.9rem;
  }
  .camisetaForm {
    margin-top: 10px;
  }
  .camisetaAddToCartButton {
    padding: 7px;
  }
}/*# sourceMappingURL=styles.css.map */