@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "./partials/variables";
@import "./partials/general";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/index";
@import "./partials/registro";
@import "./partials/ingresar";
@import "./partials/categoryPage";
@import "./partials/crear";
@import "./partials/crearProduct";
@import "./partials/categoryEdit";
@import "./partials/carrito";
@import "./partials/productDetail";
@import "./partials/profile";
@import "./partials/editProfileForm";

@import "./partials/camisetaContainer"