<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="crearProductMain">
        <form class="crearProductForm" id="crearCategoryForm" action="/crear/categoria" method="post" enctype="application/x-www-form-urlencoded">
            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="newCategory">Nueva categoría</label>
                <input class="createProductInput" type="text" name="newCategory" id="newCategory" maxlength="50">
            </div>

            <button class="crearProductoButton" type="submit">CREAR CATEGORÍA</button>
        </form>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>