<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="crearMain">
        <div class="crearContainer">
            <a class="crearLink" href="/crear/producto">CREAR PRODUCTO</a>
            <a class="crearLink" href="/crear/categoria">CREAR CATEGORIA</a>
            <a class="crearLink" href="/crear/talle">CREAR TALLES</a>
        </div>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>