<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="crearMain">
        <div class="crearContainer">
            <a class="crearLink" href="/crear/producto">CREAR PRODUCTO</a>
            <a class="crearLink" href="/crear/categoria">CREAR CATEGORIA</a>
            <a class="crearLink" href="/crear/subcategoria">CREAR SUBCATEGORIA</a>
            <a class="crearLink" href="/crear/talle">CREAR TALLES</a>
            <a class="crearLink" href="/editar/categoria">EDITAR CATEGORIA</a>
            <a class="crearLink" href="/editar/subcategoria">EDITAR SUBCATEGORIA</a>
            <a class="crearLink" href="/editar/talle">EDITAR TALLES</a>
            <a class="crearLink" href="/eliminar/categoria">ELIMINAR CATEGORIA</a>
            <a class="crearLink" href="/eliminar/subcategoria">ELIMINAR SUBCATEGORIA</a>
            <a class="crearLink" href="/eliminar/talle">ELIMINAR TALLES</a>
        </div>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>