<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Tifosi"}) %>
</head>
<body>
    <div class="error404Container">
        <p class="error404Title">Error 404 (página no encontrada)</p>
        <p class="error404Text">Lo sentimos, la página que estas buscando no existe o no se pudo encontrar.</p>
    </div>
</body>
</html>