<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Futbol e-commerce"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="crearProductMain">
        <form class="crearProductForm" id="crearTalleForm" action="/crear/talle" method="post" enctype="application/x-www-form-urlencoded">
            <div class="createProductLabelAndInputContainer">
                <label class="createProductLabel" for="newTalle">Nuevo talle</label>
                <input class="createProductInput" type="text" name="newTalle" id="newTalle" maxlength="20">
            </div>

            <button class="crearProductoButton" type="submit">CREAR TALLE</button>
        </form>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>