<footer>
    <section class="footerSection">
        <h4 class="footerSectionTitle">CONTACTO</h4>
        <a class="footerSectionLink" href="#">futbolecommerce@gmail.com</a>
        <a class="footerSectionLink" href="#">+54 9 1123456789</a>
    </section>

    <section class="footerSection">
        <h4 class="footerSectionTitle">DESCUBRI CAMISETAS</h4>
        <% categories.forEach(category => { %>
            <a class="footerSectionLink" href="/categories/<%= category.name.toLowerCase().replace(" ", "-") %>"><%=category.name%></a>
        <% }) %>
    </section>

    <section class="footerSection footerImageSection">
        <img class="footerLogo" src="/images/completeLogo.png" alt="">
    </section>

    <section class="footerCopyrightAndDevelopedBySection">
        <span class="footerCopyrightText">© Copyright Futbol e-commerce 2024 - Todos los derechos reservados.</span>
        <span class="footerDevelopedByText">Sitio web desarrollado por <a class="footerDevelopedByLink" href="https://leandroheffesportfolio.vercel.app/">Leandro Heffes</a></span>
    </section>
</footer>