<header id="header">
    <div class="headerOpenNavbarButtonAndSearchButtonContainer">
        <button class="headerOpenNavbarButton">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="headerOpenNavbarIcon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 6l16 0" />
                <path d="M4 12l16 0" />
                <path d="M4 18l16 0" />
            </svg>
        </button>

        <button class="headerSearchButton">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerSearchIcon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
            </svg>
        </button>
    </div>

    <div class="headerSearchInputContainer">
        <form class="headerSearchForm" action="/busqueda" method="get">
            <label class="headerSearchLabel" for="busqueda">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerSearchLabelIcon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                </svg>
            </label>
            <input class="headerSearchInput" type="text" maxlength="50" placeholder="Buscar" name="busqueda" id="busqueda">
        </form>
    </div>

    <div class="headerLogoContainer">
        <a href="/">
            <img class="headerLogo" src="/images/exampleLogo.png" alt="Example logo">
        </a>
    </div>

    <div class="headerIconsContainer">
        <% if(locals.userLoggedIn.rank == "admin"){ %>
            <a class="headerAccountIconLink" href="/crear">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="headerCreateIcon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                    <path d="M13.5 6.5l4 4" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                </svg>
            </a>
        <% } %>

        <% if(locals.userLoggedIn){ %>
            <a class="headerAccountIconLink" href="/perfil">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerAccountIcon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                </svg>
            </a>

            <a class="headerShoppingCartIconLink" href="/carrito">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="headerShoppingCartIcon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l14 1l-1 7h-13" />
                </svg>
            </a>
        <% } else { %>
            <a class="headerAccountIconLink" href="/registro">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerAccountIcon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                </svg>
            </a>
        <% } %>
    </div>

    <nav class="headerNavbar">
        <div class="headerCloseNavbarButtonContainer">
            <button class="headerCloseNavbarButton">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerCloseNavbarIcon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                </svg>
            </button>
        </div>

        <div class="headerNavbarLinksContainer">
            <ul class="headerNavbarLinksList">
                <% categories.forEach(category => { %>
                    <li class="headerNavbarItemList">
                        <a class="headerNavbarItemLink" href="/categories/<%= category.name.toLowerCase().replace(" ", "-") %>">
                            <%= category.name %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </nav>

    <div class="headerSearchMobileContainer">
        <button class="headerCloseButtonHeader">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerCloseIconMobile"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
        </button>
        <form class="headerSearchMobileForm" action="/busqueda" method="get">
            <input class="headerSearchMobileInput" type="text" name="busqueda" id="busqueda" maxlength="50" placeholder="Buscar">
            <button class="headerSearchMobileButton" type="submit">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerSearchIconMobile">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                </svg>
            </button>
        </form>
    </div>
</header>