<header id="header">
    <div class="headerOpenNavbarButtonContainer">
        <button class="headerOpenNavbarButton">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="headerOpenNavbarIcon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 6l16 0" />
                <path d="M4 12l16 0" />
                <path d="M4 18l16 0" />
            </svg>
        </button>
    </div>

    <div class="headerLogoContainer">
        <a href="/">
            <img class="headerLogo" src="/images/exampleLogo.png" alt="Example logo">
        </a>
    </div>

    <div class="headerIconsContainer">
        <a class="headerAccountIconLink" href="/register">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerAccountIcon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg>
        </a>

        <a class="headerShoppingCartIconLink" href="/shopping-cart">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="headerShoppingCartIcon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l14 1l-1 7h-13" />
            </svg>
        </a>
    </div>

    <nav class="headerNavbar">
        <div class="headerCloseNavbarButtonContainer">
            <button class="headerCloseNavbarButton">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="headerCloseNavbarIcon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                </svg>
            </button>
        </div>

        <div class="headerNavbarLinksContainer">
            <ul class="headerNavbarLinksList">
                <li class="headerNavbarItemList">Ejemplo</li>
                <li class="headerNavbarItemList">Ejemplo</li>
                <li class="headerNavbarItemList">Ejemplo</li>
                <li class="headerNavbarItemList">Ejemplo</li>
                <li class="headerNavbarItemList">Ejemplo</li>
            </ul>
        </div>
    </nav>
</header>