.camisetaContainer{
    width: 46%;
    position: relative;
}

.camiestaLink{
    text-decoration: none;
    color: $textColor;
}

.camisetaImage{
    width: 100%;
}

.camisetaInformationContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 1px solid rgb(45, 45, 45);
    padding-top: 10px;
}

.camisetaTitle{
    font-size: .9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2; /* Ajusta la altura de la línea según tu necesidad */
    max-height: 3em;  /* line-height * number of lines */
}

.camisetaPrice{
    font-size: .9rem;
    font-weight: 600;
}

.camisetaDiscount{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $camisetaDiscountBackground;
    padding: 3px;
    border-radius: 2px;
    font-size: .8rem;
    font-weight: 500;
}

@media (width >= 768px) {
    .camisetaContainer{
        width: 28%;
    }
    
    .camisetaInformationContainer{
        gap: 10px;
        padding-top: 13px;
    }
    
    .camisetaTitle{
        font-size: 1.1rem;
    }
    
    .camisetaPrice{
        font-size: 1.1rem;
    }
    
    .camisetaDiscount{
        padding: 4px;
        font-size: 1rem;
    }
}

@media (width >= 992px) {
    .camisetaContainer{
        width: 23%;
    }
    
    .camisetaInformationContainer{
        gap: 7px;
        padding-top: 15px;
    }
    
    .camisetaTitle{
        font-size: .9rem;
    }
    
    .camisetaPrice{
        font-size: .9rem;
    }
    
    .camisetaDiscount{
        padding: 3px;
        font-size: .8rem;
    }
}

@media (width >= 1200px) {
    .camisetaInformationContainer{
        gap: 10px;
    }
    
    .camisetaTitle{
        font-size: 1rem;
    }
    
    .camisetaPrice{
        font-size: 1.1rem;
    }
    
    .camisetaDiscount{
        padding: 4px;
        font-size: .9rem;
    }
}