.camisetaContainer{
    width: 46%;
    position: relative;
}

.camiestaLink{
    text-decoration: none;
    color: $textColor;
}

.camisetaImage{
    width: 100%;
    max-height: 151px;
    object-fit: cover;
}

.camisetaInformationContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 1px solid rgb(210, 210, 210);
    padding-top: 10px;
}

.camisetaTitle{
    font-size: .9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    max-height: 3em;  /* line-height * number of lines */
}

.camisetaPrice{
    font-size: .9rem;
    font-weight: 600;
}

.camisetaDiscount{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $camisetaDiscountBackground;
    padding: 3px;
    border-radius: 2px;
    font-size: .8rem;
    font-weight: 500;
}

.camisetaForm{
    margin-top: 7px;
}

.camisetaAddToCartButton{
    background: none;
    border: 2px solid $tifosiColor;
    color: $tifosiColor;
    padding: 7px;
    font-size: .7rem;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

@media (width >= 768px) {
    .camisetaContainer{
        width: 28%;
    }

    .camisetaImage{
        max-height: 183px;
    }
    
    .camisetaInformationContainer{
        gap: 10px;
        padding-top: 13px;
    }
    
    .camisetaTitle{
        font-size: 1.1rem;
    }
    
    .camisetaPrice{
        font-size: 1.1rem;
    }
    
    .camisetaDiscount{
        padding: 4px;
        font-size: 1rem;
    }

    .camisetaForm{
        margin-top: 15px;
    }
    
    .camisetaAddToCartButton{
        padding: 7px;
        font-size: .8rem;
    }
}

@media (width >= 992px) {
    .camisetaContainer{
        width: 23%;
    }

    .camisetaImage{
        max-height: 206px;
    }
    
    .camisetaInformationContainer{
        gap: 7px;
        padding-top: 15px;
    }
    
    .camisetaTitle{
        font-size: .9rem;
    }
    
    .camisetaPrice{
        font-size: .9rem;
    }
    
    .camisetaDiscount{
        padding: 3px;
        font-size: .8rem;
    }

    .camisetaForm{
        margin-top: 15px;
    }
    
    .camisetaAddToCartButton{
        padding: 5px;
        font-size: .7rem;
    }
}

@media (width >= 1200px) {
    .camisetaImage{
        max-height: 235px;
    }

    .camisetaInformationContainer{
        gap: 10px;
    }
    
    .camisetaTitle{
        font-size: 1rem;
    }
    
    .camisetaPrice{
        font-size: 1.1rem;
    }
    
    .camisetaDiscount{
        padding: 4px;
        font-size: .9rem;
    }

    .camisetaForm{
        margin-top: 10px;
    }
    
    .camisetaAddToCartButton{
        padding: 7px;
    }
}