.shoppingCartMain{
    padding: 20px;
}

.shoppingCartProductsContainer{
    background-color: rgb(35, 35, 35);
    border: 2px solid rgb(55, 55, 55);
    border-radius: 10px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shoppingCartProductContainer{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgb(55, 55, 55);
    border-bottom: 1px solid rgb(55, 55, 55);
    padding: 10px 0;
}

.shoppingCartProductImageContainer{
    width: 30%;
}

.shoppingCartProductImage{
    width: 100%;
    max-height: 80px;
    object-fit: cover;
}

.shoppingCartProductNameAndDeleteButtonContainer{
    width: 70%;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.shoppingCartProductName{
    width: 100%;
    font-size: .8rem;
    font-weight: 500;
}

.shoppingCartDeleteButtonForm{
    width: 20%;
    text-align: left;
}

.shoppingCartDeleteProductButton{
    background: none;
    border: none;
    cursor: pointer;
}

.shoppingCartDeleteProductIcon{
    width: 24px;
    color: gray;
}

.shoppingCartProductPriceAndDiscountContainer{
    width: 80%;
    text-align: right;
}

.shoppingCartProductPrice{
    font-size: 1rem;
    font-weight: 600;
}

.shoppingCartProductDiscount{
    font-size: .7rem;
    font-weight: 500;
    color: rgb(47, 179, 47);
}

// ----------------------------------- EMPTY CART -----------------------------------

.shoppingCartEmptyContainer{
    background-color: rgb(35, 35, 35);
    border: 2px solid rgb(55, 55, 55);
    border-radius: 10px;
    padding: 60px 30px 40px;
}

.shoppingCartEmptyIconContainer{
    text-align: center;
    margin-bottom: 20px;
}

.shoppingCartEmptyIcon{
    width: 100px;
    color: gray;
}

.shoppingCartEmptyTextContainer{
    text-align: center;
}

.shoppingCartEmptyPrimaryText{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.shoppingCartEmptySecondaryText{
    font-size: 1rem;
    color: gray;
}

.shoppingCarsEmptyExploreProductsLinkContainer{
    margin-top: 35px;
    text-align: center;
}

.shoppingCarsEmptyExploreProductsLink{
    width: 100%;
    background-color: green;
    color: $textColor;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: 500;
}

// ----------------------------------- TOTAL SECTION -----------------------------------

.shoppingCartTotalSection {
    margin-top: 20px;
    position: sticky;
    bottom: 0;
    background-color: rgb(35, 35, 35);
    border: 2px solid rgb(55, 55, 55);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shoppingCartProductsPriceContainer, .shoppingCartTotalPriceContainer {
    display: flex;
    justify-content: space-between;
}

.shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice{
    font-size: .9rem;
}

.shoppingCartTotalText, .shoppingCartTotalPrice {
    font-size: 1.1rem;
    font-weight: 500;
}

.shoppingCartBuyButtonContainer {
    margin-top: 10px;
}

.shoppingCartBuyButton {
    width: 100%;
    background-color: green;
    color: $textColor;
    border: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
}

.shoppingCartTotalSectionDesktop{
    display: none;
}

@media (width >= 768px) {
    .shoppingCartMain{
        padding: 30px 60px;
    }
    
    .shoppingCartProductsContainer{
        padding: 0px 30px;
        gap: 20px;
    }
    
    .shoppingCartProductContainer{
        padding: 10px 0;
    }
    
    .shoppingCartProductImageContainer{
        width: 30%;
    }
    
    .shoppingCartProductImage{
        max-height: 130px;
    }
    
    .shoppingCartProductNameAndDeleteButtonContainer{
        width: 70%;
        padding-left: 30px;
    }
    
    .shoppingCartProductName{
        font-size: 1.1rem;
    }
    
    .shoppingCartDeleteProductIcon{
        width: 35px;
    }
    
    .shoppingCartProductPrice{
        font-size: 1.3rem;
    }
    
    .shoppingCartProductDiscount{
        font-size: .9rem;
    }
    
    // ----------------------------------- EMPTY CART -----------------------------------
    
    .shoppingCartEmptyContainer{
        padding: 100px 30px 80px;
    }
    
    .shoppingCartEmptyIconContainer{
        margin-bottom: 30px;
    }
    
    .shoppingCartEmptyIcon{
        width: 140px;
    }
    
    .shoppingCartEmptyPrimaryText{
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
    
    .shoppingCartEmptySecondaryText{
        font-size: 1.2rem;
    }
    
    .shoppingCarsEmptyExploreProductsLinkContainer{
        margin-top: 55px;
    }
    
    .shoppingCarsEmptyExploreProductsLink{
        padding: 10px 50px;
        font-size: 1.2rem;
    }
    
    // ----------------------------------- TOTAL SECTION -----------------------------------
    
    .shoppingCartTotalSection {
        margin-top: 30px;
        padding: 30px;
        gap: 20px;
    }
    
    .shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice{
        font-size: 1.2rem;
    }
    
    .shoppingCartTotalText, .shoppingCartTotalPrice {
        font-size: 1.5rem;
    }
    
    .shoppingCartBuyButtonContainer {
        margin-top: 20px;
    }
    
    .shoppingCartBuyButton {
        font-size: 1.3rem;
        font-weight: 600;
        padding: 12px;
    }
}

@media (width >= 992px) {
    .shoppingCartMain{
        display: flex;
        justify-content: space-between;
        padding: 30px 60px;
    }

    .shoppingCartProductsSection{
        width: 70%;
    }
    
    .shoppingCartProductsContainer{
        padding: 0px 20px;
        gap: 10px;
    }
    
    .shoppingCartProductImageContainer{
        width: 20%;
    }
    
    .shoppingCartProductImage{
        max-height: 100px;
    }
    
    .shoppingCartProductNameAndDeleteButtonContainer{
        width: 80%;
        padding-left: 20px;
    }
    
    .shoppingCartProductName{
        font-size: 1rem;
    }
    
    .shoppingCartDeleteProductIcon{
        width: 25px;
    }
    
    .shoppingCartProductPrice{
        font-size: 1.1rem;
    }
    
    .shoppingCartProductDiscount{
        font-size: .8rem;
    }
    
    // ----------------------------------- EMPTY CART -----------------------------------
    
    .shoppingCartEmptyContainer{
        padding: 70px 30px 50px;
    }
    
    .shoppingCartEmptyIconContainer{
        margin-bottom: 15px;
    }
    
    .shoppingCartEmptyIcon{
        width: 100px;
    }
    
    .shoppingCartEmptyPrimaryText{
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    
    .shoppingCartEmptySecondaryText{
        font-size: 1rem;
    }
    
    .shoppingCarsEmptyExploreProductsLinkContainer{
        margin-top: 40px;
    }
    
    .shoppingCarsEmptyExploreProductsLink{
        padding: 8px 30px;
        font-size: .9rem;
    }
    
    // ----------------------------------- TOTAL SECTION -----------------------------------
    
    .shoppingCartTotalSection {
        position: static;
        width: 25%;
        margin-top: 0;
        padding: 20px;
        gap: 20px;
        height: fit-content;
    }
    
    .shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice{
        font-size: .9rem;
    }
    
    .shoppingCartTotalText, .shoppingCartTotalPrice {
        font-size: 1.1rem;
    }
    
    .shoppingCartBuyButtonContainer {
        margin-top: 20px;
    }
    
    .shoppingCartBuyButton {
        font-size: 1rem;
        padding: 8px;
    }

    .shoppingCartTotalSectionDesktop{
        width: 25%;
        padding: 20px;
        gap: 20px;
        height: fit-content;
        background-color: rgb(35, 35, 35);
        border: 2px solid rgb(55, 55, 55);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (width >= 1200px) {
    .shoppingCartMain{
        padding: 0;
        width: 85%;
        margin: 40px auto;
    }
    
    .shoppingCartProductsContainer{
        padding: 0px 25px;
    }
    
    .shoppingCartProductImage{
        max-height: 120px;
    }
    
    .shoppingCartProductNameAndDeleteButtonContainer{
        padding-left: 30px;
    }
    
    .shoppingCartProductName{
        font-size: 1.1rem;
    }
    
    .shoppingCartDeleteProductIcon{
        width: 29px;
    }
    
    .shoppingCartProductPrice{
        font-size: 1.2rem;
    }
    
    .shoppingCartProductDiscount{
        font-size: .85rem;
    }
    
    // ----------------------------------- EMPTY CART -----------------------------------
    
    .shoppingCartEmptyContainer{
        padding: 70px 30px 60px;
    }
    
    .shoppingCartEmptyIconContainer{
        margin-bottom: 20px;
    }
    
    .shoppingCartEmptyIcon{
        width: 110px;
    }
    
    .shoppingCartEmptyPrimaryText{
        font-size: 1.2rem;
    }
    
    .shoppingCartEmptySecondaryText{
        font-size: 1.1rem;
    }
    
    .shoppingCarsEmptyExploreProductsLinkContainer{
        margin-top: 50px;
    }
    
    .shoppingCarsEmptyExploreProductsLink{
        font-size: 1rem;
    }
    
    // ----------------------------------- TOTAL SECTION -----------------------------------
    
    .shoppingCartTotalSection {
        padding: 25px;
        gap: 25px;
    }
    
    .shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice{
        font-size: 1rem;
    }
    
    .shoppingCartTotalText, .shoppingCartTotalPrice {
        font-size: 1.2rem;
    }
    
    .shoppingCartBuyButtonContainer {
        margin-top: 30px;
    }
    
    .shoppingCartBuyButton {
        font-size: 1.1rem;
    }

    .shoppingCartTotalSectionDesktop{
        padding: 25px;
        gap: 20px;
        gap: 15px;
    }
}