.shoppingCartMain{
    padding: 20px;
}

.shoppingCartProductsContainer{
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shoppingCartProductContainer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 10px 0;
}

.shoppingCartProductImageContainer{
    width: 30%;
}

.shoppingCartProductImage{
    width: 100%;
    max-height: 80px;
    object-fit: cover;
}

.shoppingCartProductInformationContainer{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
}

.shoppingCartProductName{
    width: 100%;
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.shoppingCartDeleteButtonForm{
    width: 15%;
    display: flex;
    align-items: center;
}

.shoppingCartDeleteProductButton{
    background: none;
    border: none;
    cursor: pointer;
}

.shoppingCartDeleteProductIcon{
    width: 25px;
    color: $textColor;
}

.shoppingCartQuiantityAndTalleContainer{
    font-size: .8rem;
    color: $secondaryTextColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shoppingCartProductPriceAndDiscountContainer{
    margin-top: 10px;
}

.shoppingCartProductPrice{
    font-weight: 500;
}

.shoppingCartProductDiscount{
    margin-top: 5px;
    color: $camisetaDiscountBackground;
    font-size: .8rem;
}

.shoppingCartProductDiscountPrice{
    font-weight: 600;
    font-size: .9rem;
}

// ----------------------------------- EMPTY CART -----------------------------------

.shoppingCartEmptyContainer{
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
    padding: 60px 30px 40px;
}

.shoppingCartEmptyIconContainer{
    text-align: center;
    margin-bottom: 20px;
}

.shoppingCartEmptyIcon{
    width: 100px;
    color: gray;
}

.shoppingCartEmptyTextContainer{
    text-align: center;
}

.shoppingCartEmptyPrimaryText{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.shoppingCartEmptySecondaryText{
    font-size: 1rem;
    color: gray;
}

.shoppingCarsEmptyExploreProductsLinkContainer{
    margin-top: 35px;
    text-align: center;
}

.shoppingCarsEmptyExploreProductsLink{
    width: 100%;
    background-color: $tifosiColor;
    color: $secondaryBackgroundColor;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: 500;
}

// ----------------------------------- TOTAL SECTION -----------------------------------

.shoppingCartTotalSection {
    margin-top: 20px;
    position: sticky;
    bottom: 0;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shoppingCartProductsPriceContainer, .shoppingCartTotalPriceContainer {
    display: flex;
    justify-content: space-between;
}

.shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice{
    font-size: .9rem;
}

.shoppingCartTotalPrices{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: right;
}

.shoppingCartTotalText, .shoppingCartTotalPrice {
    font-size: 1.1rem;
    font-weight: 500;
}

.shoppingCartTotalPriceDiscount{
    margin-top: 3px;
    color: $camisetaDiscountBackground;
    font-size: .8rem;
}

.shoppingCartTotalPriceDiscountPrice{
    display: block;
    font-weight: 600;
    font-size: 1rem;
}

.shoppingCartBuyButtonContainer {
    margin-top: 10px;
}

.shoppingCartBuyButton {
    width: 100%;
    background-color: $tifosiColor;
    color: $secondaryBackgroundColor;
    border: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.shoppingCartTotalSectionDesktop{
    display: none;
}

.buyProductContainer{
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(225, 225, 225);
    box-shadow: 0px 0px 0px 500px rgba(0, 0, 0, 0.7);
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    z-index: 30;
}

.buyProductText{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.buyProductButtonsContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buyProductTransferenciaButton, .buyProductCloseButton{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
    background-color: $tifosiColor;
    color: $secondaryBackgroundColor;
    cursor: pointer;
}

.buyProductCloseButton{
    background-color: rgb(220, 220, 220);
    color: $textColor;
}

.buyProductsTransferenciaContainer, .buyProductsCreditoDebitoContainer{
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 0px 3000px rgba(0, 0, 0, 0.3);
    z-index: 50;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(225, 225, 225);
    width: 80%;
    padding: 30px 20px;
    border-radius: 10px;
}

.shoppingCartTransferenciaTitle{
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.buyProductsTransferenciaStepsContainer{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.shoppingCartTransferenciaText{
    font-size: .9rem;
    line-height: 1.3rem;
    color: $secondaryTextColor;
}

.shoppingCartTransferenciaSpan{
    color: $textColor;
    font-weight: 600;
}

.shoppingCartTransferenciaLink{
    color: $tifosiColor;
    font-weight: 600;
}

.shoppingCartTransferenciaForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shoppingCartTransferenciaOrderButton, .shoppingCartTransferenciaCloseButton{
    background-color: $tifosiColor;
    border: none;
    color: $secondaryBackgroundColor;
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.shoppingCartTransferenciaCloseButton{
    background-color: rgb(220, 220, 220);
    color: $textColor;
}

@media (width >= 768px) {
    .shoppingCartMain{
        padding: 30px 60px;
    }
    
    .shoppingCartProductsContainer{
        padding: 0px 30px;
        gap: 20px;
    }
    
    .shoppingCartProductImageContainer{
        width: 40%;
    }
    
    .shoppingCartProductImage{
        max-height: 180px;
    }
    
    .shoppingCartProductInformationContainer{
        width: 58%;
    }
    
    .shoppingCartProductName{
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
    
    .shoppingCartDeleteProductIcon{
        width: 35px;
    }
    
    .shoppingCartQuiantityAndTalleContainer{
        font-size: 1rem;
    }

    .shoppingCartProductPriceAndDiscountContainer{
        margin-top: 0;
    }
    
    .shoppingCartProductPrice{
        margin-top: 10px;
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .shoppingCartProductDiscount{
        font-size: 1.1rem;
    }
    
    .shoppingCartProductDiscountPrice{
        font-size: 1.4rem;
    }
    
    // ----------------------------------- EMPTY CART -----------------------------------
    
    .shoppingCartEmptyContainer{
        padding: 100px 30px 80px;
    }
    
    .shoppingCartEmptyIconContainer{
        margin-bottom: 30px;
    }
    
    .shoppingCartEmptyIcon{
        width: 140px;
    }
    
    .shoppingCartEmptyPrimaryText{
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
    
    .shoppingCartEmptySecondaryText{
        font-size: 1.2rem;
    }
    
    .shoppingCarsEmptyExploreProductsLinkContainer{
        margin-top: 55px;
    }
    
    .shoppingCarsEmptyExploreProductsLink{
        padding: 10px 50px;
        font-size: 1.2rem;
    }
    
    // ----------------------------------- TOTAL SECTION -----------------------------------
    
    .shoppingCartTotalSection {
        margin-top: 30px;
        padding: 30px;
        gap: 20px;
    }
    
    .shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice{
        font-size: 1.2rem;
    }

    .shoppingCartTotalPrices{
        width: 30%;
    }
    
    .shoppingCartTotalText, .shoppingCartTotalPrice {
        font-size: 1.5rem;
    }

    .shoppingCartTotalPriceDiscount{
        margin-top: 5px;
        font-size: 1rem;
    }
    
    .shoppingCartTotalPriceDiscountPrice{
        font-size: 1.4rem;
    }
    
    .shoppingCartBuyButtonContainer {
        margin-top: 20px;
    }
    
    .shoppingCartBuyButton {
        font-size: 1.3rem;
        font-weight: 600;
        padding: 12px;
    }

    .buyProductContainer{
        box-shadow: 0px 0px 0px 800px rgba(0, 0, 0, 0.7);
        width: 60%;
        padding: 40px;
    }
    
    .buyProductText{
        font-size: 1.8rem;
        margin-bottom: 60px;
    }
    
    .buyProductButtonsContainer{
        gap: 25px;
    }
    
    .buyProductTransferenciaButton, .buyProductCloseButton{
        font-size: 1.5rem;
        padding: 12px;
    }

    .buyProductsTransferenciaContainer{
        width: 60%;
        padding: 35px;
    }
    
    .shoppingCartTransferenciaTitle{
        font-size: 1.8rem;
        margin-bottom: 50px;
    }
    
    .buyProductsTransferenciaStepsContainer{
        gap: 35px;
    }
    
    .shoppingCartTransferenciaText{
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .shoppingCartTransferenciaForm{
        gap: 20px;
    }
    
    .shoppingCartTransferenciaOrderButton, .shoppingCartTransferenciaCloseButton{
        font-size: 1.4rem;
    }
}

@media (width >= 992px) {
    .shoppingCartMain{
        display: flex;
        justify-content: space-between;
        padding: 30px 60px;
    }

    .shoppingCartProductsSection{
        width: 70%;
    }
    
    .shoppingCartProductsContainer{
        padding: 0px 20px;
        gap: 10px;
    }
    
    .shoppingCartProductImageContainer{
        width: 20%;
    }
    
    .shoppingCartProductImage{
        max-height: 130px;
    }
    
    .shoppingCartProductInformationContainer{
        width: 75%;
    }
    
    .shoppingCartProductName{
        font-size: 1rem;
        margin-bottom: 25px;
    }
    
    .shoppingCartDeleteProductIcon{
        width: 25px;
    }
    
    .shoppingCartQuiantityAndTalleContainer{
        font-size: .9rem;
    }
    
    .shoppingCartProductPrice{
        font-size: 1.1rem;
        font-weight: 600;
    }
    
    .shoppingCartProductDiscount{
        font-size: .75rem;
    }

    .shoppingCartProductDiscountPrice{
        font-size: 1rem;
    }
    
    // ----------------------------------- EMPTY CART -----------------------------------
    
    .shoppingCartEmptyContainer{
        padding: 70px 30px 50px;
    }
    
    .shoppingCartEmptyIconContainer{
        margin-bottom: 15px;
    }
    
    .shoppingCartEmptyIcon{
        width: 100px;
    }
    
    .shoppingCartEmptyPrimaryText{
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    
    .shoppingCartEmptySecondaryText{
        font-size: 1rem;
    }
    
    .shoppingCarsEmptyExploreProductsLinkContainer{
        margin-top: 40px;
    }
    
    .shoppingCarsEmptyExploreProductsLink{
        padding: 8px 30px;
        font-size: .9rem;
    }
    
    // ----------------------------------- TOTAL SECTION -----------------------------------
    
    .shoppingCartTotalSection {
        position: static;
        width: 25%;
        margin-top: 0;
        padding: 20px;
        gap: 20px;
        height: fit-content;
    }
    
    .shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice{
        font-size: .9rem;
    }

    .shoppingCartTotalPrices{
        width: 60%;
    }
    
    .shoppingCartTotalText, .shoppingCartTotalPrice {
        font-size: 1.1rem;
    }

    .shoppingCartTotalPriceDiscount{
        font-size: .75rem;
    }
    
    .shoppingCartTotalPriceDiscountPrice{
        font-size: .95rem;
    }
    
    .shoppingCartBuyButtonContainer {
        margin-top: 0;
    }
    
    .shoppingCartBuyButton {
        font-size: 1rem;
        padding: 8px;
    }

    .shoppingCartTotalSectionDesktop{
        width: 25%;
        padding: 20px;
        gap: 20px;
        height: fit-content;
        background-color: rgb(240, 240, 240);
        border: 2px solid rgb(225, 225, 225);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .buyProductContainer{
        width: 50%;
        padding: 20px;
    }
    
    .buyProductText{
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    
    .buyProductButtonsContainer{
        flex-direction: row;
        justify-content: space-between;
    }
    
    .buyProductTransferenciaButton, .buyProductCloseButton{
        width: 47%;
        font-size: 1rem;
        padding: 8px;
    }

    .buyProductsTransferenciaContainer{
        width: 50%;
        padding: 20px;
    }
    
    .shoppingCartTransferenciaTitle{
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    
    .buyProductsTransferenciaStepsContainer{
        gap: 25px;
    }
    
    .shoppingCartTransferenciaText{
        font-size: .9rem;
        line-height: 1.4rem;
    }

    .shoppingCartTransferenciaForm{
        gap: 15px;
    }
    
    .shoppingCartTransferenciaOrderButton, .shoppingCartTransferenciaCloseButton{
        font-size: 1rem;
    }
}

@media (width >= 1200px) {
    .shoppingCartMain{
        padding: 0;
        width: 85%;
        margin: 40px auto;
    }
    
    .shoppingCartProductsContainer{
        padding: 0px 25px;
    }
    
    .shoppingCartProductImage{
        max-height: 140px;
    }
    
    .shoppingCartProductName{
        font-size: 1.3rem;
        margin-bottom: 30px;
    }
    
    .shoppingCartDeleteProductIcon{
        width: 30px;
    }
    
    .shoppingCartQuiantityAndTalleContainer{
        font-size: 1rem;
    }
    
    .shoppingCartProductPrice{
        font-size: 1.3rem;
    }
    
    .shoppingCartProductDiscount{
        font-size: .8rem;
    }
    
    .shoppingCartProductDiscountPrice{
        display: block;
        font-size: 1.1rem;
    }
    
    // ----------------------------------- EMPTY CART -----------------------------------
    
    .shoppingCartEmptyContainer{
        padding: 70px 30px 60px;
    }
    
    .shoppingCartEmptyIconContainer{
        margin-bottom: 20px;
    }
    
    .shoppingCartEmptyIcon{
        width: 110px;
    }
    
    .shoppingCartEmptyPrimaryText{
        font-size: 1.2rem;
    }
    
    .shoppingCartEmptySecondaryText{
        font-size: 1.1rem;
    }
    
    .shoppingCarsEmptyExploreProductsLinkContainer{
        margin-top: 50px;
    }
    
    .shoppingCarsEmptyExploreProductsLink{
        font-size: 1rem;
    }
    
    // ----------------------------------- TOTAL SECTION -----------------------------------
    
    .shoppingCartTotalSection {
        padding: 25px;
        gap: 25px;
    }
    
    .shoppingCartTotalProductsText, .shoppingCartTotalProductsPrice{
        font-size: 1rem;
    }

    .shoppingCartTotalPrices{
        width: 50%;
    }
    
    .shoppingCartTotalText, .shoppingCartTotalPrice {
        font-size: 1.2rem;
    }

    .shoppingCartTotalPriceDiscount{
        font-size: .8rem;
    }
    
    .shoppingCartTotalPriceDiscountPrice{
        font-size: 1.05rem;
    }
    
    .shoppingCartBuyButton {
        font-size: 1.1rem;
    }

    .shoppingCartTotalSectionDesktop{
        padding: 25px;
        gap: 20px;
        gap: 15px;
    }

    .buyProductContainer{
        width: 40%;
        padding: 30px;
    }
    
    .buyProductText{
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
    
    .buyProductTransferenciaButton, .buyProductCloseButton{
        width: 48%;
        font-size: 1.1rem;
    }

    .buyProductsTransferenciaContainer{
        width: 40%;
        padding: 30px;
    }
    
    .shoppingCartTransferenciaTitle{
        font-size: 1.4rem;
        margin-bottom: 40px;
    }
    
    .buyProductsTransferenciaStepsContainer{
        gap: 25px;
    }
    
    .shoppingCartTransferenciaText{
        font-size: 1rem;
        line-height: 1.6rem;
    }
    
    .shoppingCartTransferenciaOrderButton, .shoppingCartTransferenciaCloseButton{
        font-size: 1.1rem;
    }
}