.categoriesEditContainer{
    width: 90%;
    margin: 40px auto;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(225, 225, 225);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categoryEditContainer{
    display: flex;
    align-items: center;
}

.categoryEditTitle{
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
}

.categoryEditLink{
    width: 20%;
    text-decoration: none;
    color: $textColor;
    display: flex;
    justify-content: right;
    align-items: center;
}

.categoryEditIcon{
    width: 20px;
}

@media(width >= 768px){
    .categoriesEditContainer{
        width: 75%;
        padding: 30px;
        gap: 30px;
    }
    
    .categoryEditTitle{
        font-size: 1.4rem;
    }
    
    .categoryEditIcon{
        width: 30px;
    }
}

@media(width >= 992px){
    .categoriesEditContainer{
        width: 50%;
        padding: 20px;
        gap: 30px;
    }
    
    .categoryEditTitle{
        font-size: 1rem;
    }
    
    .categoryEditIcon{
        width: 25px;
    }
}