.crearContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(225, 225, 225);
    padding: 40px;
    width: 80%;
    margin: 40px auto;
    border-radius: 5px;
}

.crearLink{
    text-decoration: none;
    text-align: center;
    color: $secondaryTextColor;
    background-color: $secondaryBackgroundColor;
    padding: 10px;
    border: 2px solid rgb(210, 210, 210);
    border-radius: 2px;
    font-weight: 500;
}

@media(width >= 768px){    
    .crearContainer{
        gap: 40px;
        padding: 60px;
        width: 70%;
        margin: 60px auto;
    }
    
    .crearLink{
        padding: 15px;
        font-size: 1.3rem;
    }
}

@media(width >= 992px){
    .crearContainer{
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        padding: 35px 60px;
        width: 85%;
        margin: 80px auto;
    }
    
    .crearLink{
        width: 30%;
        padding: 10px;
        font-size: .9rem;
    }
}