.crearMain{
    height: 100vh;
    position: relative;
}

.crearContainer{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(35, 35, 35);
    padding: 40px;
    width: 80%;
    border: 2px solid rgb(55, 55, 55);
    border-radius: 5px;
}

.crearLink{
    text-decoration: none;
    text-align: center;
    color: $secondaryTextColor;
    background-color: $secondaryBackgroundColor;
    padding: 10px;
    border: 2px solid $secondaryTextColor;
    border-radius: 2px;
    font-weight: 500;
}

@media(width >= 768px){    
    .crearContainer{
        gap: 40px;
        padding: 60px;
        width: 70%;
    }
    
    .crearLink{
        padding: 15px;
        font-size: 1.3rem;
    }
}

@media(width >= 992px){
    .crearMain{
        height: 50vh;
    }
    
    .crearContainer{
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        padding: 35px 60px;
        width: 85%;
    }
    
    .crearLink{
        width: 30%;
        padding: 10px;
        font-size: .9rem;
    }
}