.editPersonalInformationMain{
    width: 90%;
    margin: 10px auto 20px;
}

.editProfileForm{
    background-color: rgb(35, 35, 35);
    border: 2px solid rgb(55, 55, 55);
    padding: 20px 15px;
    border-radius: 10px;
}

.editProfileTitle{
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.editProfileContentContainer{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.editProfileLabelAndInputContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editProfileLabel{
    font-size: .8rem;
    margin-left: 2px;
    color: $secondaryTextColor;
}

.editProfileInput{
    font-size: 1rem;
    background-color: rgb(45, 45, 45);
    color: $secondaryTextColor;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
}

.changePasswordLink{
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
    color: green;
}

.editProfileConfirmButtonContainer{
    margin: 10px auto 0;
}

.editProfileConfirmButton{
    background-color: green;
    color: $textColor;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px 20px;
    cursor: pointer;
}

@media (width >= 768px) {
    .editPersonalInformationMain{
        width: 75%;
        margin: 20px auto 40px;
    }
    
    .editProfileForm{
        padding: 30px 20px;
    }
    
    .editProfileTitle{
        font-size: 1.8rem;
        margin-bottom: 45px;
    }
    
    .editProfileContentContainer{
        gap: 35px;
    }
    
    .editProfileLabelAndInputContainer{
        gap: 7px;
    }
    
    .editProfileLabel{
        font-size: 1rem;
        font-weight: 600;
    }
    
    .editProfileInput{
        font-size: 1.3rem;
        padding: 7px 10px;
    }
    
    .changePasswordLink{
        font-size: 1.1rem;
    }
    
    .editProfileConfirmButton{
        font-size: 1.4rem;
        padding: 8px 40px;
        border-radius: 10px;
    }
}

@media (width >= 992px) {
    .editPersonalInformationMain{
        width: 65%;
        margin: 30px auto 60px;
    }
    
    .editProfileForm{
        padding: 30px 25px;
    }
    
    .editProfileTitle{
        font-size: 1.4rem;
        margin-bottom: 35px;
    }
    
    .editProfileContentContainer{
        gap: 25px;
    }
    
    .editProfileLabelAndInputContainer{
        gap: 6px;
    }
    
    .editProfileLabel{
        font-size: .9rem;
    }
    
    .editProfileInput{
        font-size: 1.1rem;
        padding: 5px 7px;
    }
    
    .changePasswordLink{
        font-size: .9rem;
    }
    
    .editProfileConfirmButton{
        font-size: 1.1rem;
        padding: 5px 70px;
    }
}

@media (width >= 1200px) {
    .editPersonalInformationMain{
        width: 55%;
        margin: 30px auto 80px;
    }
    
    .editProfileTitle{
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    
    .editProfileContentContainer{
        gap: 30px;
    }
    
    .editProfileInput{
        padding: 5px 10px;
    }
    
    .editProfileConfirmButton{
        padding: 8px 70px;
    }
}