footer{
    border-top: 2px solid green;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footerSection{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.footerSectionTitle{
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.footerSectionLink{
    text-decoration: none;
    color: $secondaryTextColor;
    font-size: .9rem;
}

.footerCopyrightAndDevelopedBySection{
    text-align: center;
    color: $secondaryTextColor;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid rgb(82, 82, 82);
    padding-top: 25px;
}

.footerCopyrightText{
    font-size: .8rem;
}

.footerDevelopedByText{
    font-size: .8rem;
}

.footerDevelopedByLink{
    text-decoration: none;
    color: $textColor;
    font-weight: 500;
}

@media (width >= 768px) {
    footer{
        padding: 40px 50px;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 60px;
    }
    
    .footerSection{
        gap: 10px;
    }

    .footerSectionTitle{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
    .footerSectionLink{
        font-size: 1rem;
    }
    
    .footerCopyrightAndDevelopedBySection{
        width: 100%;
        gap: 30px;
        padding-top: 35px;
    }
    
    .footerCopyrightText{
        font-size: 1rem;
    }
    
    .footerDevelopedByText{
        font-size: 1rem;
    }
}

@media (width >= 992px) {
    footer{
        padding: 30px 40px;
        gap: 50px;
    }
    
    .footerSection{
        gap: 10px;
    }

    .footerSectionTitle{
        font-size: .8rem;
        margin-bottom: 5px;
    }
    
    .footerSectionLink{
        font-size: .8rem;
    }
    
    .footerCopyrightAndDevelopedBySection{
        gap: 20px;
        padding-top: 25px;
    }
    
    .footerCopyrightText{
        font-size: .8rem;
    }
    
    .footerDevelopedByText{
        font-size: .8rem;
    }
}

@media (width >= 1200px) {
    footer{
        padding: 30px 40px;
        gap: 60px;
    }
    
    .footerSection{
        gap: 8px;
    }

    .footerSectionTitle{
        font-size: .9rem;
    }
    
    .footerSectionLink{
        font-size: .9rem;
    }
    
    .footerCopyrightAndDevelopedBySection{
        gap: 25px;
        padding-top: 30px;
    }
    
    .footerCopyrightText{
        font-size: .9rem;
    }
    
    .footerDevelopedByText{
        font-size: .9rem;
    }
}