header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundColor;
    padding: 5px 15px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.headerOpenNavbarButtonAndSearchButtonContainer{
    width: 25%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerOpenNavbarButton, .headerSearchButton{
    background: none;
    border: none;
}

.headerOpenNavbarIcon{
    width: 30px;
    color: $textColor;
}

.headerSearchInputContainer{
    display: none;
}

.headerLogoContainer{
    width: 50%;
    text-align: center;
}

.headerLogo{
    width: 40px;
}

.headerIconsContainer{
    width: 25%;
    display: flex;
    justify-content: right;
    gap: 20px;
}

.headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon, .headerCreateIcon{
    width: 25px;
    color: $textColor;
}

.headerNavbar{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70vw;
    z-index: 15;
    background-color: $backgroundColor;
    box-shadow: 0px 0px 0px 300px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}

.headerCloseNavbarButtonContainer{
    text-align: right;
    margin-bottom: 10px;
}

.headerCloseNavbarButton{
    background: none;
    border: none;
    padding: 10px;
}

.headerCloseNavbarIcon{
    width: 23px;
    color: $textColor;
}

.headerNavbarLinksContainer{
    padding: 0 20px;
}

.headerNavbarLinksList{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.headerNavbarItemList{
    list-style: none;
    font-size: .9rem;
}

.headerNavbarItemLink{
    color: $textColor;
    text-decoration: none;
}

@media(width >= 768px){
    header{
        padding: 7px 35px;
    }
    
    .headerOpenNavbarButtonAndSearchButtonContainer{
        gap: 40px;
    }
    
    .headerOpenNavbarIcon{
        width: 40px;
    }
    
    .headerLogo{
        width: 55px;
    }
    
    .headerIconsContainer{
        gap: 40px;
    }
    
    .headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon, .headerCreateIcon{
        width: 32px;
    }
    
    .headerNavbar{
        width: 60vw;
        box-shadow: 0px 0px 0px 600px rgba(0, 0, 0, 0.5);
    }
    
    .headerCloseNavbarButtonContainer{
        margin-bottom: 10px;
    }
    
    .headerCloseNavbarButton{
        padding: 15px;
    }
    
    .headerCloseNavbarIcon{
        width: 30px;
    }
    
    .headerNavbarLinksContainer{
        padding: 0 30px;
    }
    
    .headerNavbarLinksList{
        gap: 35px;
    }
    
    .headerNavbarItemList{
        font-size: 1.2rem;
    }
}

@media(width >= 992px){
    header{
        padding: 5px 35px;
    }
    
    .headerOpenNavbarButtonAndSearchButtonContainer{
        display: none;
    }

    .headerSearchInputContainer{
        display: block;
        width: 25%;
    }

    .headerSearchForm{
        background-color: rgb(45, 45, 45);
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        border-radius: 3px;
        width: 85%;
    }

    .headerSearchLabel{
        width: 15%;
        display: flex;
        justify-content: center;
        border-right: 1px solid $secondaryTextColor;
    }

    .headerSearchLabelIcon{
        width: 20px;
        color: $secondaryTextColor;
        padding-right: 5px;
    }

    .headerSearchInput{
        width: 85%;
        background: none;
        border: none;
        outline: none;
        padding-left: 10px;
        color: $secondaryTextColor;
    }
    
    .headerLogo{
        width: 40px;
    }
    
    .headerIconsContainer{
        gap: 35px;
    }
    
    .headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon, .headerCreateIcon{
        width: 23px;
    }
}

@media(width >= 1200px){
    header{
        padding: 5px 55px;
    }

    .headerSearchForm{
        padding: 7px;
        border-radius: 8px;
        width: 75%;
    }

    .headerSearchLabelIcon{
        width: 25px;
        padding-right: 7px;
    }

    .headerSearchInput{
        padding-left: 14px;
    }
    
    .headerLogo{
        width: 45px;
    }
    
    .headerIconsContainer{
        gap: 40px;
    }
    
    .headerAccountIcon, .headerShoppingCartIcon, .headerSearchIcon, .headerCreateIcon{
        width: 28px;
    }
}