$backgroundColor: rgb(255, 255, 255);
$secondaryBackgroundColor: rgb(245, 245, 245);
$textColor: rgb(15, 15, 15);
$secondaryTextColor: rgb(55, 55, 55);
$thirdTextColor: rgb(95, 95, 95);
$camisetaDiscountBackground: rgb(0, 192, 0);
$tifosiColor: rgb(33, 38, 84);